@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@*@{
    Layout = "_Layout.cshtml";
}*@


<h3>Manage Account</h3>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3 hidden-xs-down bg-faded sidebar">
            @await Html.PartialAsync("_ManageNav")
    </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
