@using Microsoft.AspNetCore.Identity
@using LIMS.Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
	ApplicationUser user = await UserManager.FindByNameAsync(User.Identity.Name);
	
<form class="form-inline my-0 my-lg-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="logoutForm">

	<a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-item btn btn-sm btn-outline-primary" data-toggle="tooltip" title="Manage Account">
		
		<i class="fa fa-user-circle" aria-hidden="true"></i> My Account
	</a>	

	<button type="submit" class="ml-2 btn btn-sm btn-outline-danger">Logout <i class="fa fa-sign-out-alt" aria-hidden="true"></i></button>

</form>
}
else
{
	<form class="form-inline my-2 my-lg-0">
		<a class="nav-item btn btn-sm btn-outline-primary mr-2 mb-0" asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>

		<a class="nav-item btn btn-sm btn-primary mb-0" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-sign-in-alt" aria-hidden="true"></i> Login</a>
	</form>
}



