@using Microsoft.AspNetCore.Hosting;
@{
    ViewData["Title"] = "MapView";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";


}
<script> var routeId = '@ViewBag.MyRouteId' </script>
<div id="map" style="height: 950px"></div>

