@using Microsoft.AspNetCore.Hosting;
@{
    ViewData["Title"] = "MapView";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<script> var routeId = @ViewData["MyRouteId"] </script>
<div id="map" style="height: 500px;width:500px"></div>

