@model LIMSWebApp.ViewModels.LIMSViewModels.ParcelSearchViewModel

<div>
    <p>Parcel Number: @Html.DisplayFor(modelItem => Model.ParcelNumber)</p>
    <p>Area of Parcel: @Html.DisplayFor(modelItem => Model.Area)</p>
    <p>District: @Html.DisplayFor(modelItem => Model.AdministrationArea)</p>
</div>