@model LIMSWebApp.ViewModels.LIMSViewModels.ParcelSearchViewModel
@{
    Layout = "_LayoutNav";
   
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="box-shadow:0px 0px 1px 1px;border-bottom-left-radius:10px;border-top-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:10px" >
            <h3 class="text-center text-accent-1">
                Search Land Parcel
            </h3>
            <hr />
            <form role="form" asp-controller="ParcelsIndex" asp-action="SearchParcel" method="get">
                <div class="form-group">
                    <h5 class="text-center text-accent-1">
                        Enter Parcel Number
                    </h5>
                    <input type="text" placeholder="Parcel Number" name="parcelnum" class="form-control" id="exampleInputEmail1" /><br /><br />
                    <button class="btn btn-outline-success btn-danger btn-block" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
