@model LIMSWebApp.ViewModels.LIMSViewModels.ParcelSearchViewModel
@{
    Layout = "_Layout";
   
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center" style="border-radius:5px; background-color:azure; padding:10px" >
           
            <form role="form" asp-controller="ParcelsIndex" asp-action="SearchParcel" method="get">
                <div class="form-group">
                    <h4 class="text-accent-1">Enter Parcel Number</h4>
                    <input type="text" placeholder="Parcel Number" name="parcelnum" class="form-control" id="exampleInputEmail1" /><br /><br />
                    <button class="btn btn-dark text-center" type="submit">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
