
@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager



<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="contact-about">
            <h3>LIMS Portal</h3>
            <p>LIMS portal is Online Platform which allows easy acess to land related infromation as well as making it easy to make transactions in land. To utilize the benefits of this portal you must have a verified phone number and email address.</p>

            <span class="section-divider"></span>
            <p class="section-description">
                The National Land Commission Act of 2012, section 5 (2) (d) mandates the National
                Land Commission with the task of developing and implementing a nationwide land information
                management system at both national and county levels. To help the Commission in this quest,
                the Land Information Management System (LIMS)  was created.
            </p>
        </div>
    </div>
</div>


@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            
            <div>
                <a asp-controller="Payments" asp-action="Index" class="text-info">                    
                   
                    <div class="card text-center card-padding">
                        <span class="card-title"><i class='fa fa-search fa-3x text-center'></i></span>
                        <div class="card-body">
                            <h4 class="card-title">Property Search</h4>
                            <p class="card-text">Search Land Parcel</p>
                            
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
           
            <a asp-controller="Properties" asp-action="Properties" class="text-info" >
               
                <div class="card text-center card-padding">
                    <span class="card-title"><i class='fa fa-chart-bar fa-3x mx-auto'></i></span>
                    <div class="card-body">
                        <h4 class="card-title">Dashboard</h4>
                        <p class="card-text">Go to My Dashboard</p>

                    </div>
                </div>
            </a>
           
        </div>
        <div class="col-md-4">

            <a asp-controller="Payments" asp-action="PayWithMpesa" class="text-info">               
             
                <div class="card text-center card-padding">
                    <span class="card-title"><i class='fa fa-money-bill-alt fa-3x text-center'></i></span>
                    <div class="card-body">
                        <h4 class="card-title">Payments</h4>
                        <p class="card-text">Pay Land Rates</p>

                    </div>
                </div>
            </a>
           
           
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <a asp-area="Identity" asp-page="/Account/Register" class="text-info">
                <div class="card text-center card-padding">
                    <span class="card-title"><i class='fa fa-user-circle fa-3x'></i></span>
                    <div class="card-body">
                        <h4 class="card-title">Create Account</h4>
                        <p class="card-text">Create a new user account</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a asp-area="Identity" asp-page="/Account/Login" class="text-info">               
                <div class="card text-center card-padding">
                    <span class="card-title"><i class='fa fa-sign-in-alt fa-3x'></i></span>
                    <div class="card-body">
                        <h4 class="card-title">Sign In</h4>
                        <p class="card-text">Sign into your account</p>
                    </div>
                </div>
            </a>
           
        </div>
        <div class="col-md-4">
            <a asp-controller="Home" asp-action="Terms" class="text-info">
                <div class="card text-center card-padding">
                    <span class="card-title"><i class='fa fa-exclamation-circle fa-3x'></i></span>
                    <div class="card-body">
                        <h4 class="card-title">Terms & Conditions</h4>
                        <p class="card-text">Read our terms and conditions</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
}



