
@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager



<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="contact-about">
            <h3>LIMS Portal</h3>
            <p>LIMS portal is Online Platform which allows easy acess to land related infromation as well as making it easy to make transactions in land. To utilize the benefits of this portal you must have a verified phone number and email address.</p>

            <span class="section-divider"></span>
            <p class="section-description">
                The National Land Commission Act of 2012, section 5 (2) (d) mandates the National
                Land Commission with the task of developing and implementing a nationwide land information
                management system at both national and county levels. To help the Commission in this quest,
                the Land Information Management System (LIMS)  was created.
            </p>
        </div>
    </div>
</div>


@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <a asp-controller="ParcelsIndex" asp-action="SearchParcel">
                <span class='glyphicon glyphicon-user'></span> Search Land Parcel
            </a><br />
            <p>Click here to create account <br />All you needs is your<br /> National ID</p>
        </div>
        <div class="col-md-4">
            <a asp-controller="Properties" asp-action="Properties">
                <span class='glyphicon glyphicon-log-in'></span> Go to My Dashboard
            </a>
            <p>
                Click here to Log into your Account<br />And get all services like:Title registration
                <br />Application for Land Subdivision e.t.c
            </p>
        </div>
        <div class="col-md-4">
            <a asp-controller="Payments" asp-action="Index">
                <span class='glyphicon glyphicon-shopping-cart'></span> Pay Land Rates
            </a>
            <p>Avoid long queues at the County Halls<br />And Make your payments online<br /> Click here to learn more</p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <a asp-area="Identity" asp-page="/Account/Register">
                <span class='glyphicon glyphicon-user'></span> Create Account
            </a><br />
            <p>Click here to create account <br />All you needs is your<br /> National ID</p>
        </div>
        <div class="col-md-4">
            <a asp-area="Identity" asp-page="/Account/Login">
                <span class='glyphicon glyphicon-log-in'></span> Sign In
            </a>
            <p>
                Click here to Log into your Account<br />And get access to available land services.
            </p>
        </div>
        <div class="col-md-4">
            <a asp-controller="Home" asp-action="Terms">
                <span class='glyphicon glyphicon-shopping-cart'></span> Read Terms and Conditions
            </a>
            <p>Avoid long queues at the County Halls<br />And Make your payments online<br /> Click here to learn more</p>
        </div>

    </div>
}



