
@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager




<div class="jumbotron text-center">
    <h3>Land Information Management System</h3>
    <p class="lead">LIMS portal is platform which allows easy acess to land related infromation as 
    well as making it easy to make transactions in land. 
    To utilize the benefits of this portal users must provide and verify their identity.</p>
    <hr class="my-4">

    <p class="lead">
        <a class="btn btn-info btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col-md-4">

                <div>
                    <a asp-controller="Payments" asp-action="Index" class="text-info">

                        <div class="card text-center card-padding">
                            <span class="card-title"><i class='fa fa-search fa-3x text-center'></i></span>
                            <div class="card-body">
                                <h4 class="card-title">Property Search</h4>
                                <p class="card-text">Search Land Parcel</p>

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">

                <a asp-controller="Properties" asp-action="Properties" class="text-info">

                    <div class="card text-center card-padding">
                        <span class="card-title"><i class='fa fa-chart-bar fa-3x mx-auto'></i></span>
                        <div class="card-body">
                            <h4 class="card-title">Dashboard</h4>
                            <p class="card-text">Go to My Dashboard</p>

                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-4">

                <a asp-controller="Payments" asp-action="PayWithMpesa" class="text-info">

                    <div class="card text-center card-padding">
                        <span class="card-title"><i class='fa fa-money-bill-alt fa-3x text-center'></i></span>
                        <div class="card-body">
                            <h4 class="card-title">Payments</h4>
                            <p class="card-text">Pay Land Rates</p>

                        </div>
                    </div>
                </a>


            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-4">
                <a asp-area="Identity" asp-page="/Account/Register" class="text-info">
                    <div class="card text-center card-padding">
                        <span class="card-title"><i class='fa fa-user-circle fa-3x'></i></span>
                        <div class="card-body">
                            <h4 class="card-title">Create Account</h4>
                            <p class="card-text">Create a new user account</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a asp-area="Identity" asp-page="/Account/Login" class="text-info">
                    <div class="card text-center card-padding">
                        <span class="card-title"><i class='fa fa-sign-in-alt fa-3x'></i></span>
                        <div class="card-body">
                            <h4 class="card-title">Sign In</h4>
                            <p class="card-text">Sign into your account</p>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-4">
                <a asp-controller="Home" asp-action="Terms" class="text-info">
                    <div class="card text-center card-padding">
                        <span class="card-title"><i class='fa fa-exclamation-circle fa-3x'></i></span>
                        <div class="card-body">
                            <h4 class="card-title">Terms & Conditions</h4>
                            <p class="card-text">Read our terms and conditions</p>
                        </div>
                    </div>
                </a>
            </div>           
        </div>

    }
    



