@{
    ViewData["Title"] = "Services";
}

<div class="clearfix"></div>
<div>
    <div class="" style="margin-top:10px;">
        <button class="btn btn-primary" asp-controller="Parcels" asp-action="Index">Search Parcels</button>
        <button class="btn btn-primary">Transfer Land</button>
    </div>
</div>
