@{
    ViewData["Title"] = "Services";
}

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header custom-card-header">
            <h4 class="my-0 font-weight-normal">Land Search</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Requirements</small></h1>

            <ul class="list-unstyled mt-3 mb-4">
                <li>Title Number</li>
                <li>Your National ID</li>
                <li>Your KRA PIN</li>
            </ul>

            <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#nortification">
                Land Search
            </button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header custom-card-header">
            <h4 class="my-0 font-weight-normal">Land Transfer</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Requirements</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Title Number</li>
                <li>Your National ID</li>
                <li>Your KRA PIN</li>

            </ul>
            <button class="btn btn-sm btn-info">Land Transfer</button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header custom-card-header">
            <h4 class="my-0 font-weight-normal">Other Services</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Requirements</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Title Number</li>
                <li>Your National ID</li>
                <li>Your KRA PIN</li>

            </ul>
            <button class="btn btn-sm btn-info">Other Services</button>
        </div>
    </div>
</div>

@*Modal dialog*@
<div class="modal fade" id="nortification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LIMS Portal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                This Service will cost you Kshs 1000 do you wish to continue?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>               
                <a class="btn btn-sm btn-primary" asp-controller="Payments" asp-action="Index">Continue</a>
            </div>
        </div>
    </div>
</div>

