USE [master]
GO
/****** Object:  Database [LIMSBackup]    Script Date: 5/2/2018 9:46:05 AM ******/
CREATE DATABASE [LIMSBackup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIMSBackup', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LIMSBackup.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIMSBackup_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\LIMSBackup_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIMSBackup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIMSBackup]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Administration]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlockName] [nvarchar](max) NULL,
	[DistrictName] [nvarchar](max) NULL,
	[LocationName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Administration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartment]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Apartment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beacon]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beacon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BeaconNum] [nvarchar](max) NULL,
	[BeaconType] [nvarchar](max) NULL,
	[DateSet] [datetime2](7) NOT NULL,
	[Hcoordinate] [float] NOT NULL,
	[HorizontalDatum] [nvarchar](max) NULL,
	[VerticalDatum] [nvarchar](max) NULL,
	[Xcoordinate] [float] NOT NULL,
	[Ycoordinate] [float] NOT NULL,
 CONSTRAINT [PK_Beacon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Boundary]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boundary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoundaryType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Boundary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoundaryBeacon]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoundaryBeacon](
	[BoundaryId] [int] NOT NULL,
	[BeaconId] [int] NOT NULL,
 CONSTRAINT [PK_BoundaryBeacon] PRIMARY KEY CLUSTERED 
(
	[BoundaryId] ASC,
	[BeaconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ApartmentId] [int] NOT NULL,
	[SpatialUnitId] [int] NOT NULL,
	[StreetAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_Building] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildingRegulations]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildingRegulations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GCR] [float] NOT NULL,
	[PCR] [float] NOT NULL,
	[PlotFrontage] [float] NOT NULL,
 CONSTRAINT [PK_BuildingRegulations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuruParcels]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuruParcels](
	[Id] [int] NULL,
	[Parcel_Num] [int] NULL,
	[Area2] [float] NULL,
	[Boundary] [nvarchar](30) NULL,
	[Shape_Leng] [float] NULL,
	[Shape_Area] [float] NULL,
	[Amount_Pai] [int] NULL,
	[Parcel_Own] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Geometry] [varbinary](max) NULL,
	[ID1] [int] NOT NULL,
	[Geometry_SPA] [geometry] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charge]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[InterestRate] [float] NOT NULL,
	[lender] [nvarchar](max) NULL,
	[Ranking] [int] NOT NULL,
	[RepaymentTerm] [int] NOT NULL,
 CONSTRAINT [PK_Charge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Freehold]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Freehold](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenureId] [int] NOT NULL,
 CONSTRAINT [PK_Freehold] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupGroupLeadership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupGroupLeadership](
	[GroupId] [int] NOT NULL,
	[GroupLeadershipId] [int] NOT NULL,
 CONSTRAINT [PK_GroupGroupLeadership] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC,
	[GroupLeadershipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupGroupMembership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupGroupMembership](
	[GroupMembershipId] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_GroupGroupMembership] PRIMARY KEY CLUSTERED 
(
	[GroupMembershipId] ASC,
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupLeadership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupLeadership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeadershipRole] [nvarchar](max) NULL,
	[LeadershipSince] [datetime2](7) NOT NULL,
	[LeadershipStatus] [nvarchar](max) NULL,
	[LeadershipUntil] [datetime2](7) NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK_GroupLeadership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupLeadershipPerson]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupLeadershipPerson](
	[GroupLeadershipId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_GroupLeadershipPerson] PRIMARY KEY CLUSTERED 
(
	[GroupLeadershipId] ASC,
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MembershipShare] [float] NOT NULL,
	[MembershipSince] [datetime2](7) NOT NULL,
	[MembershipStatus] [nvarchar](max) NULL,
	[MembershipUntil] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_GroupMembership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupOW]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupOW](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[County] [nvarchar](max) NULL,
	[GroupType] [nvarchar](max) NULL,
	[OwnerId] [int] NOT NULL,
 CONSTRAINT [PK_GroupOW] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsitutionLeadership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsitutionLeadership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberSince] [datetime2](7) NOT NULL,
	[MemberUntil] [datetime2](7) NOT NULL,
	[MembershipRole] [nvarchar](max) NULL,
	[MembershipStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_InsitutionLeadership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Institution]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Institution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstitutionType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Institution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstitutionInstitutionLeadership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitutionInstitutionLeadership](
	[InstitutionLeadershipId] [int] NOT NULL,
	[InstitutionId] [int] NOT NULL,
 CONSTRAINT [PK_InstitutionInstitutionLeadership] PRIMARY KEY CLUSTERED 
(
	[InstitutionLeadershipId] ASC,
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InstitutionLeadershipPerson]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InstitutionLeadershipPerson](
	[InstitutionLeadershipId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_InstitutionLeadershipPerson] PRIMARY KEY CLUSTERED 
(
	[InstitutionLeadershipId] ASC,
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LandUse]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LandUse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BuildingRegulationsId] [int] NOT NULL,
	[EndDate] [datetime2](7) NULL,
	[LandUseStatus] [nvarchar](max) NULL,
	[LandUseType] [nvarchar](max) NULL,
	[RegulationAgency] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[ZoneId] [int] NOT NULL,
 CONSTRAINT [PK_LandUse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leasehold]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leasehold](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LeasePeriod] [datetime2](7) NOT NULL,
	[Lessor] [nvarchar](max) NULL,
	[TenureId] [int] NOT NULL,
 CONSTRAINT [PK_Leasehold] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MapIndex]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MapIndex](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MapSheetNum] [nvarchar](max) NULL,
	[ParcelId] [int] NOT NULL,
 CONSTRAINT [PK_MapIndex] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mortgage]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mortgage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [float] NOT NULL,
	[BuildingId] [nvarchar](max) NULL,
	[InterestRate] [float] NOT NULL,
	[Lender] [nvarchar](max) NULL,
	[Ranking] [int] NOT NULL,
	[RepaymentTerm] [int] NOT NULL,
 CONSTRAINT [PK_Mortgage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operation]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operation](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Parcelid] [int] NULL,
 CONSTRAINT [PK_Operation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[OwnerType] [nvarchar](max) NULL,
	[PIN] [nvarchar](max) NULL,
	[PostalAddress] [nvarchar](max) NULL,
	[TelephoneAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_Owner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnershiRights]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnershiRights](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RightType] [nvarchar](max) NULL,
 CONSTRAINT [PK_OwnershiRights] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcel]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Administrationid] [int] NOT NULL,
	[Area] [float] NULL,
	[LandUseId] [int] NOT NULL,
	[OwnerId] [int] NOT NULL,
	[OwnershipRights] [int] NOT NULL,
	[ParcelNum] [nvarchar](max) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[Responsibilities] [int] NOT NULL,
	[Restrictions] [int] NOT NULL,
	[SpatialUnitId] [int] NOT NULL,
	[TenureId] [int] NOT NULL,
	[ValuationId] [int] NOT NULL,
 CONSTRAINT [PK_Parcel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [money] NULL,
	[ModeOfPayment] [nchar](10) NULL,
	[PaymentDate] [datetime] NULL,
	[rateid] [int] NOT NULL,
	[ReceiptNo] [text] NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Mobile] [nvarchar](max) NULL,
	[OwnerId] [int] NOT NULL,
	[PersonType] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[PIN] [nvarchar](max) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonGroupMembership]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonGroupMembership](
	[GroupMembershipId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
 CONSTRAINT [PK_PersonGroupMembership] PRIMARY KEY CLUSTERED 
(
	[GroupMembershipId] ASC,
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rates]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rates](
	[id] [int] NOT NULL,
	[Amount] [money] NULL,
 CONSTRAINT [PK_Rates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Jurisdiction] [nvarchar](max) NULL,
	[RegistrationDate] [datetime2](7) NULL,
	[RegistrationSection] [nvarchar](max) NULL,
	[RegistrationType] [nvarchar](max) NULL,
	[TitleNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserve]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ComplianceStatus] [nvarchar](max) NULL,
	[EnforcingAuthority] [nvarchar](max) NULL,
	[ReserveType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reserve] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Responsibility]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Responsibility](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PerformanceRequirement] [nvarchar](max) NULL,
	[ResponsibilityType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Responsibility] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Restriction]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Restriction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[chrageId] [int] NULL,
	[landUseId] [int] NULL,
	[morgageid] [int] NULL,
	[ReserveID] [int] NULL,
	[RestrictionType] [nvarchar](max) NULL,
	[Statutoryid] [int] NULL,
 CONSTRAINT [PK_Restriction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] NOT NULL,
	[Date] [datetime] NULL,
	[IsComplete] [bit] NOT NULL,
	[OPid] [int] NOT NULL,
	[Progress] [int] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpatialUnit]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpatialUnit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Area] [float] NULL,
	[BoundaryId] [int] NOT NULL,
	[Label] [nvarchar](max) NULL,
	[Layer] [nvarchar](max) NULL,
	[Length] [float] NULL,
	[MapIndexId] [int] NOT NULL,
	[PreliminaryUnitId] [int] NOT NULL,
	[ReferencePoint] [nvarchar](max) NULL,
	[SpatialUnitSetId] [int] NOT NULL,
	[SpatialUnitType] [nvarchar](max) NULL,
	[SurveyClassId] [int] NOT NULL,
	[Volume] [float] NULL,
 CONSTRAINT [PK_SpatialUnit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpatialUnitSet]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpatialUnitSet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](max) NULL,
 CONSTRAINT [PK_SpatialUnitSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpatialUnitSetRegistration]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpatialUnitSetRegistration](
	[RegistrationId] [int] NOT NULL,
	[SpatialUnitSetId] [int] NOT NULL,
 CONSTRAINT [PK_SpatialUnitSetRegistration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC,
	[SpatialUnitSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaturtoryRestriction]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaturtoryRestriction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NatureOfRestriction] [nvarchar](max) NULL,
	[RestrictingAuthority] [nvarchar](max) NULL,
 CONSTRAINT [PK_StaturtoryRestriction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompsNo] [nvarchar](max) NULL,
	[DateOfEntry] [datetime2](7) NULL,
	[ParcelId] [int] NOT NULL,
	[PDPRefNo] [int] NOT NULL,
	[PlansNo] [nvarchar](max) NULL,
	[SurveyorsName] [nvarchar](max) NULL,
	[TypeOfSurvey] [nvarchar](max) NULL,
 CONSTRAINT [PK_Survey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tenure]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tenure](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenureType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tenure] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valution]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valution](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[SerialNo] [nvarchar](max) NULL,
	[ValuationBookNo] [nvarchar](max) NULL,
	[ValuationDate] [datetime2](7) NULL,
	[Value] [float] NULL,
	[Valuer] [nvarchar](max) NULL,
 CONSTRAINT [PK_Valution] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zone]    Script Date: 5/2/2018 9:46:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegulationId] [int] NOT NULL,
	[ZoneType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Zone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180420062117_InitialCreate', N'2.0.1-rtm-125')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180420063022_FirstMigration', N'2.0.1-rtm-125')
SET IDENTITY_INSERT [dbo].[Administration] ON 

INSERT [dbo].[Administration] ([Id], [BlockName], [DistrictName], [LocationName]) VALUES (1, N'Block 14', N'Kajiado', N'Ngong')
INSERT [dbo].[Administration] ([Id], [BlockName], [DistrictName], [LocationName]) VALUES (2, N'Block 15', N'Nairobi', N'Embakasi')
INSERT [dbo].[Administration] ([Id], [BlockName], [DistrictName], [LocationName]) VALUES (3, N'Block 16', N'Baringo', N'Kabarnet')
SET IDENTITY_INSERT [dbo].[Administration] OFF
SET IDENTITY_INSERT [dbo].[Apartment] ON 

INSERT [dbo].[Apartment] ([Id], [ApartmentName]) VALUES (1, N'New Apartment')
INSERT [dbo].[Apartment] ([Id], [ApartmentName]) VALUES (2, N'Old Apartment')
INSERT [dbo].[Apartment] ([Id], [ApartmentName]) VALUES (3, N'Current Apartment')
SET IDENTITY_INSERT [dbo].[Apartment] OFF
SET IDENTITY_INSERT [dbo].[Beacon] ON 

INSERT [dbo].[Beacon] ([Id], [BeaconNum], [BeaconType], [DateSet], [Hcoordinate], [HorizontalDatum], [VerticalDatum], [Xcoordinate], [Ycoordinate]) VALUES (1, N'b25', NULL, CAST(N'2018-04-20T09:43:44.7966667' AS DateTime2), 0, N'Arc60-UTM-Zone37s', N'Arbitrary Local', 263435.7038, 9858042.189)
INSERT [dbo].[Beacon] ([Id], [BeaconNum], [BeaconType], [DateSet], [Hcoordinate], [HorizontalDatum], [VerticalDatum], [Xcoordinate], [Ycoordinate]) VALUES (2, N'b23', NULL, CAST(N'2018-04-20T09:43:44.7966667' AS DateTime2), 0, N'Arc60-UTM-Zone37s', N'Arbitrary Local', 263469.4335, 9857998.173)
INSERT [dbo].[Beacon] ([Id], [BeaconNum], [BeaconType], [DateSet], [Hcoordinate], [HorizontalDatum], [VerticalDatum], [Xcoordinate], [Ycoordinate]) VALUES (3, N'b27', NULL, CAST(N'2018-04-20T09:43:44.7966667' AS DateTime2), 0, N'Arc60-UTM-Zone37s', N'Arbitrary Local', 263435.7038, 9858042.189)
SET IDENTITY_INSERT [dbo].[Beacon] OFF
SET IDENTITY_INSERT [dbo].[Boundary] ON 

INSERT [dbo].[Boundary] ([Id], [BoundaryType]) VALUES (1, N'General')
INSERT [dbo].[Boundary] ([Id], [BoundaryType]) VALUES (2, N'Fixed')
INSERT [dbo].[Boundary] ([Id], [BoundaryType]) VALUES (3, N'Fixed')
SET IDENTITY_INSERT [dbo].[Boundary] OFF
INSERT [dbo].[BoundaryBeacon] ([BoundaryId], [BeaconId]) VALUES (1, 1)
INSERT [dbo].[BoundaryBeacon] ([BoundaryId], [BeaconId]) VALUES (1, 2)
INSERT [dbo].[BoundaryBeacon] ([BoundaryId], [BeaconId]) VALUES (2, 3)
SET IDENTITY_INSERT [dbo].[Building] ON 

INSERT [dbo].[Building] ([Id], [ApartmentId], [SpatialUnitId], [StreetAddress]) VALUES (6, 1, 1, N'Utengano St.')
INSERT [dbo].[Building] ([Id], [ApartmentId], [SpatialUnitId], [StreetAddress]) VALUES (7, 2, 2, N'Mfangano St.')
INSERT [dbo].[Building] ([Id], [ApartmentId], [SpatialUnitId], [StreetAddress]) VALUES (8, 3, 3, N'Professional Way St.')
SET IDENTITY_INSERT [dbo].[Building] OFF
SET IDENTITY_INSERT [dbo].[BuildingRegulations] ON 

INSERT [dbo].[BuildingRegulations] ([Id], [GCR], [PCR], [PlotFrontage]) VALUES (1, 50, 100, 20)
INSERT [dbo].[BuildingRegulations] ([Id], [GCR], [PCR], [PlotFrontage]) VALUES (2, 60, 200, 25)
INSERT [dbo].[BuildingRegulations] ([Id], [GCR], [PCR], [PlotFrontage]) VALUES (3, 70, 200, 30)
SET IDENTITY_INSERT [dbo].[BuildingRegulations] OFF
INSERT [dbo].[BuruParcels] ([Id], [Parcel_Num], [Area2], [Boundary], [Shape_Leng], [Shape_Area], [Amount_Pai], [Parcel_Own], [Status], [Geometry], [ID1], [Geometry_SPA]) VALUES (29, 952, 0.0164995, N'b25,b26,b24,b23,b25', 58.998663914, 164.99422582, 1600, N'Jopseph Kioko', N'Paid', NULL, 3, 0x00000000020505000000F3A46CF4F76F42406401102F2E94F4BFC8B6691FFA6F4240B65A41C52094F4BFF9B71D58FB6F42401552B995ED94F4BF0BC61C2DF96F4240576087FFFA94F4BFF3A46CF4F76F42406401102F2E94F4BF0000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000001000000FFFFFFFF0000000003)
SET IDENTITY_INSERT [dbo].[Charge] ON 

INSERT [dbo].[Charge] ([Id], [Amount], [InterestRate], [lender], [Ranking], [RepaymentTerm]) VALUES (1, 2000000, 30, N'Standard Chartered Bank, Kenya Limited', 2, 20)
INSERT [dbo].[Charge] ([Id], [Amount], [InterestRate], [lender], [Ranking], [RepaymentTerm]) VALUES (2, 2000000, 30, N'Family Bank', 2, 20)
INSERT [dbo].[Charge] ([Id], [Amount], [InterestRate], [lender], [Ranking], [RepaymentTerm]) VALUES (3, 2000000, 30, N'CfC Life', 2, 20)
SET IDENTITY_INSERT [dbo].[Charge] OFF
SET IDENTITY_INSERT [dbo].[GroupLeadership] ON 

INSERT [dbo].[GroupLeadership] ([Id], [LeadershipRole], [LeadershipSince], [LeadershipStatus], [LeadershipUntil], [PersonID]) VALUES (1, N'Chairperson', CAST(N'2018-04-20T10:07:11.0966667' AS DateTime2), N'Active', CAST(N'2018-04-20T10:07:11.0966667' AS DateTime2), 1)
INSERT [dbo].[GroupLeadership] ([Id], [LeadershipRole], [LeadershipSince], [LeadershipStatus], [LeadershipUntil], [PersonID]) VALUES (2, N'Chairperson', CAST(N'2018-04-20T10:07:11.0966667' AS DateTime2), N'Active', CAST(N'2018-04-20T10:07:11.0966667' AS DateTime2), 2)
INSERT [dbo].[GroupLeadership] ([Id], [LeadershipRole], [LeadershipSince], [LeadershipStatus], [LeadershipUntil], [PersonID]) VALUES (3, N'Secretary', CAST(N'2018-04-20T10:07:11.0966667' AS DateTime2), N'Active', CAST(N'2018-04-20T10:07:11.0966667' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[GroupLeadership] OFF
SET IDENTITY_INSERT [dbo].[GroupMembership] ON 

INSERT [dbo].[GroupMembership] ([Id], [MembershipShare], [MembershipSince], [MembershipStatus], [MembershipUntil]) VALUES (1, 0.4, CAST(N'2018-04-20T10:07:20.6566667' AS DateTime2), N'Active', CAST(N'2018-04-20T10:07:20.6566667' AS DateTime2))
INSERT [dbo].[GroupMembership] ([Id], [MembershipShare], [MembershipSince], [MembershipStatus], [MembershipUntil]) VALUES (2, 0.3, CAST(N'2018-04-20T10:07:20.6566667' AS DateTime2), N'Active', CAST(N'2018-04-20T10:07:20.6566667' AS DateTime2))
INSERT [dbo].[GroupMembership] ([Id], [MembershipShare], [MembershipSince], [MembershipStatus], [MembershipUntil]) VALUES (3, 0.05, CAST(N'2018-04-20T10:07:20.6566667' AS DateTime2), N'Active', CAST(N'2018-04-20T10:07:20.6566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[GroupMembership] OFF
SET IDENTITY_INSERT [dbo].[InsitutionLeadership] ON 

INSERT [dbo].[InsitutionLeadership] ([Id], [MemberSince], [MemberUntil], [MembershipRole], [MembershipStatus]) VALUES (1, CAST(N'2018-04-20T10:07:25.7133333' AS DateTime2), CAST(N'2018-04-20T10:07:25.7133333' AS DateTime2), N'Chairperson', N'Active')
INSERT [dbo].[InsitutionLeadership] ([Id], [MemberSince], [MemberUntil], [MembershipRole], [MembershipStatus]) VALUES (2, CAST(N'2018-04-20T10:07:25.7133333' AS DateTime2), CAST(N'2018-04-20T10:07:25.7133333' AS DateTime2), N'Secretary', N'Active')
INSERT [dbo].[InsitutionLeadership] ([Id], [MemberSince], [MemberUntil], [MembershipRole], [MembershipStatus]) VALUES (3, CAST(N'2018-04-20T10:07:25.7133333' AS DateTime2), CAST(N'2018-04-20T10:07:25.7133333' AS DateTime2), N'Treasurer', N'Active')
SET IDENTITY_INSERT [dbo].[InsitutionLeadership] OFF
SET IDENTITY_INSERT [dbo].[Institution] ON 

INSERT [dbo].[Institution] ([Id], [InstitutionType]) VALUES (1, N'Primary School')
INSERT [dbo].[Institution] ([Id], [InstitutionType]) VALUES (2, N'Nationa Forest Reserve')
INSERT [dbo].[Institution] ([Id], [InstitutionType]) VALUES (3, N'Shrine')
SET IDENTITY_INSERT [dbo].[Institution] OFF
SET IDENTITY_INSERT [dbo].[LandUse] ON 

INSERT [dbo].[LandUse] ([Id], [BuildingRegulationsId], [EndDate], [LandUseStatus], [LandUseType], [RegulationAgency], [StartDate], [ZoneId]) VALUES (1, 1, CAST(N'2018-04-20T09:43:33.2500000' AS DateTime2), N'Active', N'Agricultural', N'Agency X', CAST(N'2018-04-20T09:43:33.2500000' AS DateTime2), 1)
INSERT [dbo].[LandUse] ([Id], [BuildingRegulationsId], [EndDate], [LandUseStatus], [LandUseType], [RegulationAgency], [StartDate], [ZoneId]) VALUES (2, 5, CAST(N'2018-04-20T09:43:33.2500000' AS DateTime2), N'Active', N'Commercial', N'Agency X', CAST(N'2018-04-20T09:43:33.2500000' AS DateTime2), 6)
INSERT [dbo].[LandUse] ([Id], [BuildingRegulationsId], [EndDate], [LandUseStatus], [LandUseType], [RegulationAgency], [StartDate], [ZoneId]) VALUES (3, 7, CAST(N'2018-04-20T09:43:33.2500000' AS DateTime2), N'Inactive', N'Agricultural', N'Agency Z', CAST(N'2018-04-20T09:43:33.2500000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[LandUse] OFF
SET IDENTITY_INSERT [dbo].[MapIndex] ON 

INSERT [dbo].[MapIndex] ([Id], [MapSheetNum], [ParcelId]) VALUES (1, N'7/201', 1)
INSERT [dbo].[MapIndex] ([Id], [MapSheetNum], [ParcelId]) VALUES (2, N'27/120', 2)
INSERT [dbo].[MapIndex] ([Id], [MapSheetNum], [ParcelId]) VALUES (3, N'00/125', 3)
SET IDENTITY_INSERT [dbo].[MapIndex] OFF
SET IDENTITY_INSERT [dbo].[Mortgage] ON 

INSERT [dbo].[Mortgage] ([Id], [Amount], [BuildingId], [InterestRate], [Lender], [Ranking], [RepaymentTerm]) VALUES (1, 16000000, NULL, 20, N'CfC Life', 2, 24)
INSERT [dbo].[Mortgage] ([Id], [Amount], [BuildingId], [InterestRate], [Lender], [Ranking], [RepaymentTerm]) VALUES (2, 19000000, NULL, 25, N'Commercial Bank of Africa', 2, 20)
INSERT [dbo].[Mortgage] ([Id], [Amount], [BuildingId], [InterestRate], [Lender], [Ranking], [RepaymentTerm]) VALUES (3, 15000000, NULL, 25, N'Family Bank', 2, 20)
SET IDENTITY_INSERT [dbo].[Mortgage] OFF
SET IDENTITY_INSERT [dbo].[Owner] ON 

INSERT [dbo].[Owner] ([Id], [Name], [OwnerType], [PIN], [PostalAddress], [TelephoneAddress]) VALUES (1, N'Jerosa Sipantoi', N'Individual', N'A051164895K', N'P.O BOX, 987-00106', N'0727-825-567')
INSERT [dbo].[Owner] ([Id], [Name], [OwnerType], [PIN], [PostalAddress], [TelephoneAddress]) VALUES (2, N'Elvis Ayiemba', N'Individual', N'A051116417Z', N'P.O BOX, 0087-30400', N'0724-825-598')
INSERT [dbo].[Owner] ([Id], [Name], [OwnerType], [PIN], [PostalAddress], [TelephoneAddress]) VALUES (3, N'Betsy Mugo', N'Individual', N'A051098084N', N'P.O BOX, 8957-0006', N'0727-755-567')
SET IDENTITY_INSERT [dbo].[Owner] OFF
SET IDENTITY_INSERT [dbo].[OwnershiRights] ON 

INSERT [dbo].[OwnershiRights] ([Id], [RightType]) VALUES (1, N'freehold')
INSERT [dbo].[OwnershiRights] ([Id], [RightType]) VALUES (2, N'Tenure')
SET IDENTITY_INSERT [dbo].[OwnershiRights] OFF
SET IDENTITY_INSERT [dbo].[Parcel] ON 

INSERT [dbo].[Parcel] ([Id], [Administrationid], [Area], [LandUseId], [OwnerId], [OwnershipRights], [ParcelNum], [RegistrationId], [Responsibilities], [Restrictions], [SpatialUnitId], [TenureId], [ValuationId]) VALUES (19, 1, 2, 1, 1, 1, N'001/NR/4547', 2, 1, 1, 1, 1, 1)
INSERT [dbo].[Parcel] ([Id], [Administrationid], [Area], [LandUseId], [OwnerId], [OwnershipRights], [ParcelNum], [RegistrationId], [Responsibilities], [Restrictions], [SpatialUnitId], [TenureId], [ValuationId]) VALUES (20, 2, 4, 2, 2, 2, N'001/CD/6777', 2, 2, 4, 3, 1, 1)
INSERT [dbo].[Parcel] ([Id], [Administrationid], [Area], [LandUseId], [OwnerId], [OwnershipRights], [ParcelNum], [RegistrationId], [Responsibilities], [Restrictions], [SpatialUnitId], [TenureId], [ValuationId]) VALUES (21, 2, 3, 2, 3, 1, N'001/VF/2097', 4, 3, 2, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[Parcel] OFF
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([id], [Amount], [ModeOfPayment], [PaymentDate], [rateid], [ReceiptNo]) VALUES (1, 10000.0000, N'MPESA     ', CAST(N'2018-05-01T17:15:08.713' AS DateTime), 1, N'0019MR')
INSERT [dbo].[Payments] ([id], [Amount], [ModeOfPayment], [PaymentDate], [rateid], [ReceiptNo]) VALUES (2, 10000.0000, N'MPESA     ', CAST(N'2018-05-01T17:15:08.713' AS DateTime), 1, N'0020MR')
INSERT [dbo].[Payments] ([id], [Amount], [ModeOfPayment], [PaymentDate], [rateid], [ReceiptNo]) VALUES (3, 10000.0000, N'MPESA     ', CAST(N'2018-05-01T17:15:08.713' AS DateTime), 2, N'0021MR')
SET IDENTITY_INSERT [dbo].[Payments] OFF
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([Id], [Email], [Mobile], [OwnerId], [PersonType], [Phone], [PIN]) VALUES (1, NULL, NULL, 1, NULL, NULL, NULL)
INSERT [dbo].[Person] ([Id], [Email], [Mobile], [OwnerId], [PersonType], [Phone], [PIN]) VALUES (2, NULL, NULL, 2, NULL, NULL, NULL)
INSERT [dbo].[Person] ([Id], [Email], [Mobile], [OwnerId], [PersonType], [Phone], [PIN]) VALUES (3, NULL, NULL, 3, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Person] OFF
INSERT [dbo].[Rates] ([id], [Amount]) VALUES (1, 20000.0000)
INSERT [dbo].[Rates] ([id], [Amount]) VALUES (2, 15000.0000)
INSERT [dbo].[Rates] ([id], [Amount]) VALUES (3, 20000.0000)
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([Id], [Jurisdiction], [RegistrationDate], [RegistrationSection], [RegistrationType], [TitleNo]) VALUES (1, N'Nairobi', CAST(N'2018-04-20T09:47:32.8966667' AS DateTime2), N'BuruBuru', N'RLA', N'1/Buruburu')
INSERT [dbo].[Registration] ([Id], [Jurisdiction], [RegistrationDate], [RegistrationSection], [RegistrationType], [TitleNo]) VALUES (2, N'Nairobi', CAST(N'2018-04-20T09:47:32.8966667' AS DateTime2), N'BuruBuru', N'GLA', N'2/Buruburu')
INSERT [dbo].[Registration] ([Id], [Jurisdiction], [RegistrationDate], [RegistrationSection], [RegistrationType], [TitleNo]) VALUES (3, N'Nairobi', CAST(N'2018-04-20T09:47:32.8966667' AS DateTime2), N'BuruBuru', N'LTA', N'3/Buruburu')
SET IDENTITY_INSERT [dbo].[Registration] OFF
SET IDENTITY_INSERT [dbo].[Reserve] ON 

INSERT [dbo].[Reserve] ([Id], [ComplianceStatus], [EnforcingAuthority], [ReserveType]) VALUES (1, N'Active', N'KWS', N'National Park')
INSERT [dbo].[Reserve] ([Id], [ComplianceStatus], [EnforcingAuthority], [ReserveType]) VALUES (2, N'Active', N'KWS', N'Conservancy')
INSERT [dbo].[Reserve] ([Id], [ComplianceStatus], [EnforcingAuthority], [ReserveType]) VALUES (3, N'Active', N'KWS', N'Game Reserve')
SET IDENTITY_INSERT [dbo].[Reserve] OFF
SET IDENTITY_INSERT [dbo].[Responsibility] ON 

INSERT [dbo].[Responsibility] ([Id], [PerformanceRequirement], [ResponsibilityType]) VALUES (1, N'Always plant trees', NULL)
INSERT [dbo].[Responsibility] ([Id], [PerformanceRequirement], [ResponsibilityType]) VALUES (2, N'Get it fenced', NULL)
INSERT [dbo].[Responsibility] ([Id], [PerformanceRequirement], [ResponsibilityType]) VALUES (3, N'Always plant trees', NULL)
SET IDENTITY_INSERT [dbo].[Responsibility] OFF
SET IDENTITY_INSERT [dbo].[Restriction] ON 

INSERT [dbo].[Restriction] ([Id], [chrageId], [landUseId], [morgageid], [ReserveID], [RestrictionType], [Statutoryid]) VALUES (1, 1, 1, 1, 1, N'Planning', 1)
INSERT [dbo].[Restriction] ([Id], [chrageId], [landUseId], [morgageid], [ReserveID], [RestrictionType], [Statutoryid]) VALUES (2, 2, 2, 2, 2, N'Group', 2)
INSERT [dbo].[Restriction] ([Id], [chrageId], [landUseId], [morgageid], [ReserveID], [RestrictionType], [Statutoryid]) VALUES (3, 3, 3, 3, 3, N'Natural', 3)
SET IDENTITY_INSERT [dbo].[Restriction] OFF
SET IDENTITY_INSERT [dbo].[SpatialUnit] ON 

INSERT [dbo].[SpatialUnit] ([Id], [Area], [BoundaryId], [Label], [Layer], [Length], [MapIndexId], [PreliminaryUnitId], [ReferencePoint], [SpatialUnitSetId], [SpatialUnitType], [SurveyClassId], [Volume]) VALUES (1, 0.017519, 1, N'Parcel-954', N'Parcels', 0.001554814, 2, 1, NULL, 1, N'Type1', 5, 0)
INSERT [dbo].[SpatialUnit] ([Id], [Area], [BoundaryId], [Label], [Layer], [Length], [MapIndexId], [PreliminaryUnitId], [ReferencePoint], [SpatialUnitSetId], [SpatialUnitType], [SurveyClassId], [Volume]) VALUES (2, 0.0164991, 2, N'Parcel-953', N'Parcels', 0.0015814, 3, 2, NULL, 2, N'Type2', 3, 0)
INSERT [dbo].[SpatialUnit] ([Id], [Area], [BoundaryId], [Label], [Layer], [Length], [MapIndexId], [PreliminaryUnitId], [ReferencePoint], [SpatialUnitSetId], [SpatialUnitType], [SurveyClassId], [Volume]) VALUES (3, 0.07519, 3, N'Parcel-952', N'Parcels', 0.054814, 4, 3, NULL, 3, N'Type3', 4, 0)
SET IDENTITY_INSERT [dbo].[SpatialUnit] OFF
SET IDENTITY_INSERT [dbo].[SpatialUnitSet] ON 

INSERT [dbo].[SpatialUnitSet] ([Id], [Label]) VALUES (1, N'Parcel/954')
INSERT [dbo].[SpatialUnitSet] ([Id], [Label]) VALUES (2, N'Parcel/953')
INSERT [dbo].[SpatialUnitSet] ([Id], [Label]) VALUES (3, N'Parcel/952')
SET IDENTITY_INSERT [dbo].[SpatialUnitSet] OFF
INSERT [dbo].[SpatialUnitSetRegistration] ([RegistrationId], [SpatialUnitSetId]) VALUES (1, 1)
INSERT [dbo].[SpatialUnitSetRegistration] ([RegistrationId], [SpatialUnitSetId]) VALUES (2, 2)
INSERT [dbo].[SpatialUnitSetRegistration] ([RegistrationId], [SpatialUnitSetId]) VALUES (8, 3)
SET IDENTITY_INSERT [dbo].[StaturtoryRestriction] ON 

INSERT [dbo].[StaturtoryRestriction] ([Id], [NatureOfRestriction], [RestrictingAuthority]) VALUES (1, N'Planning: Frontage=10m, PCR=200%, GCR=80%', N'County Government Nairobi')
INSERT [dbo].[StaturtoryRestriction] ([Id], [NatureOfRestriction], [RestrictingAuthority]) VALUES (2, N'Group', N'County Government Nairobi')
INSERT [dbo].[StaturtoryRestriction] ([Id], [NatureOfRestriction], [RestrictingAuthority]) VALUES (3, N'Natural', N'County Government Nairobi')
SET IDENTITY_INSERT [dbo].[StaturtoryRestriction] OFF
SET IDENTITY_INSERT [dbo].[Survey] ON 

INSERT [dbo].[Survey] ([Id], [CompsNo], [DateOfEntry], [ParcelId], [PDPRefNo], [PlansNo], [SurveyorsName], [TypeOfSurvey]) VALUES (1, N'SOK/2017/123', CAST(N'2018-04-20T09:44:10.8366667' AS DateTime2), 1, 12, N'23/17', N'Johson Kaikai', N'Mutation')
INSERT [dbo].[Survey] ([Id], [CompsNo], [DateOfEntry], [ParcelId], [PDPRefNo], [PlansNo], [SurveyorsName], [TypeOfSurvey]) VALUES (2, N'SOK/2017/50', CAST(N'2018-04-20T09:44:10.8366667' AS DateTime2), 2, 20, N'23/16', N'Heather Helmi', N'Amulgamation')
INSERT [dbo].[Survey] ([Id], [CompsNo], [DateOfEntry], [ParcelId], [PDPRefNo], [PlansNo], [SurveyorsName], [TypeOfSurvey]) VALUES (3, N'SOK/2016/10', CAST(N'2018-04-20T09:44:10.8366667' AS DateTime2), 3, 40, N'00/16', N'Alison Karai', N'Amulgamation')
SET IDENTITY_INSERT [dbo].[Survey] OFF
SET IDENTITY_INSERT [dbo].[Tenure] ON 

INSERT [dbo].[Tenure] ([Id], [TenureType]) VALUES (1, N'freehold')
INSERT [dbo].[Tenure] ([Id], [TenureType]) VALUES (2, N'Leasehold')
SET IDENTITY_INSERT [dbo].[Tenure] OFF
SET IDENTITY_INSERT [dbo].[Valution] ON 

INSERT [dbo].[Valution] ([Id], [Remarks], [SerialNo], [ValuationBookNo], [ValuationDate], [Value], [Valuer]) VALUES (1, N'Good price', N'2/234', N'3', CAST(N'2018-04-20T09:47:06.0000000' AS DateTime2), 1400, N'NLC')
INSERT [dbo].[Valution] ([Id], [Remarks], [SerialNo], [ValuationBookNo], [ValuationDate], [Value], [Valuer]) VALUES (2, N'Under review', N'2/235', N'2', CAST(N'2018-04-20T09:47:06.0000000' AS DateTime2), 1400, N'NLC')
INSERT [dbo].[Valution] ([Id], [Remarks], [SerialNo], [ValuationBookNo], [ValuationDate], [Value], [Valuer]) VALUES (3, N'Good price', N'2/234', N'3', CAST(N'2018-04-20T09:47:06.0000000' AS DateTime2), 1400, N'NLC')
SET IDENTITY_INSERT [dbo].[Valution] OFF
SET IDENTITY_INSERT [dbo].[Zone] ON 

INSERT [dbo].[Zone] ([Id], [RegulationId], [ZoneType]) VALUES (1, 1, N'Commercial')
INSERT [dbo].[Zone] ([Id], [RegulationId], [ZoneType]) VALUES (2, 3, N'Educational')
INSERT [dbo].[Zone] ([Id], [RegulationId], [ZoneType]) VALUES (3, 2, N'Agricultural')
SET IDENTITY_INSERT [dbo].[Zone] OFF
/****** Object:  Index [IX_BoundaryBeacon_BeaconId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_BoundaryBeacon_BeaconId] ON [dbo].[BoundaryBeacon]
(
	[BeaconId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Building_ApartmentId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Building_ApartmentId] ON [dbo].[Building]
(
	[ApartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Building_SpatialUnitId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Building_SpatialUnitId] ON [dbo].[Building]
(
	[SpatialUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Freehold_TenureId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Freehold_TenureId] ON [dbo].[Freehold]
(
	[TenureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupGroupLeadership_GroupLeadershipId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupGroupLeadership_GroupLeadershipId] ON [dbo].[GroupGroupLeadership]
(
	[GroupLeadershipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupGroupMembership_GroupId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupGroupMembership_GroupId] ON [dbo].[GroupGroupMembership]
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupLeadershipPerson_PersonId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupLeadershipPerson_PersonId] ON [dbo].[GroupLeadershipPerson]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GroupOW_OwnerId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_GroupOW_OwnerId] ON [dbo].[GroupOW]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionInstitutionLeadership_InstitutionId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionInstitutionLeadership_InstitutionId] ON [dbo].[InstitutionInstitutionLeadership]
(
	[InstitutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_InstitutionLeadershipPerson_PersonId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_InstitutionLeadershipPerson_PersonId] ON [dbo].[InstitutionLeadershipPerson]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LandUse_BuildingRegulationsId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LandUse_BuildingRegulationsId] ON [dbo].[LandUse]
(
	[BuildingRegulationsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LandUse_ZoneId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_LandUse_ZoneId] ON [dbo].[LandUse]
(
	[ZoneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Leasehold_TenureId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Leasehold_TenureId] ON [dbo].[Leasehold]
(
	[TenureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operation_Parcelid]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Operation_Parcelid] ON [dbo].[Operation]
(
	[Parcelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_Administrationid]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_Administrationid] ON [dbo].[Parcel]
(
	[Administrationid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_LandUseId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_LandUseId] ON [dbo].[Parcel]
(
	[LandUseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_OwnerId]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_OwnerId] ON [dbo].[Parcel]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_OwnershipRights]    Script Date: 5/2/2018 9:46:11 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_OwnershipRights] ON [dbo].[Parcel]
(
	[OwnershipRights] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_RegistrationId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_RegistrationId] ON [dbo].[Parcel]
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_Responsibilities]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_Responsibilities] ON [dbo].[Parcel]
(
	[Responsibilities] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_Restrictions]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_Restrictions] ON [dbo].[Parcel]
(
	[Restrictions] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_SpatialUnitId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_SpatialUnitId] ON [dbo].[Parcel]
(
	[SpatialUnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_TenureId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_TenureId] ON [dbo].[Parcel]
(
	[TenureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parcel_ValuationId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Parcel_ValuationId] ON [dbo].[Parcel]
(
	[ValuationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_rateid]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_rateid] ON [dbo].[Payments]
(
	[rateid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Person_OwnerId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Person_OwnerId] ON [dbo].[Person]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PersonGroupMembership_PersonId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_PersonGroupMembership_PersonId] ON [dbo].[PersonGroupMembership]
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Restriction_chrageId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Restriction_chrageId] ON [dbo].[Restriction]
(
	[chrageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Restriction_morgageid]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Restriction_morgageid] ON [dbo].[Restriction]
(
	[morgageid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Restriction_ReserveID]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Restriction_ReserveID] ON [dbo].[Restriction]
(
	[ReserveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Restriction_Statutoryid]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Restriction_Statutoryid] ON [dbo].[Restriction]
(
	[Statutoryid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Service_OPid]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_Service_OPid] ON [dbo].[Service]
(
	[OPid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialUnit_BoundaryId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SpatialUnit_BoundaryId] ON [dbo].[SpatialUnit]
(
	[BoundaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialUnit_MapIndexId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialUnit_MapIndexId] ON [dbo].[SpatialUnit]
(
	[MapIndexId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialUnit_SpatialUnitSetId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialUnit_SpatialUnitSetId] ON [dbo].[SpatialUnit]
(
	[SpatialUnitSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialUnit_SurveyClassId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialUnit_SurveyClassId] ON [dbo].[SpatialUnit]
(
	[SurveyClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SpatialUnitSetRegistration_SpatialUnitSetId]    Script Date: 5/2/2018 9:46:12 AM ******/
CREATE NONCLUSTERED INDEX [IX_SpatialUnitSetRegistration_SpatialUnitSetId] ON [dbo].[SpatialUnitSetRegistration]
(
	[SpatialUnitSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Beacon] ADD  DEFAULT (getdate()) FOR [DateSet]
GO
ALTER TABLE [dbo].[GroupLeadership] ADD  DEFAULT (getdate()) FOR [LeadershipSince]
GO
ALTER TABLE [dbo].[GroupLeadership] ADD  DEFAULT (getdate()) FOR [LeadershipUntil]
GO
ALTER TABLE [dbo].[GroupMembership] ADD  DEFAULT (getdate()) FOR [MembershipSince]
GO
ALTER TABLE [dbo].[GroupMembership] ADD  DEFAULT (getdate()) FOR [MembershipUntil]
GO
ALTER TABLE [dbo].[InsitutionLeadership] ADD  DEFAULT (getdate()) FOR [MemberSince]
GO
ALTER TABLE [dbo].[InsitutionLeadership] ADD  DEFAULT (getdate()) FOR [MemberUntil]
GO
ALTER TABLE [dbo].[LandUse] ADD  DEFAULT (getdate()) FOR [EndDate]
GO
ALTER TABLE [dbo].[LandUse] ADD  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Leasehold] ADD  DEFAULT (getdate()) FOR [LeasePeriod]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Registration] ADD  DEFAULT (getdate()) FOR [RegistrationDate]
GO
ALTER TABLE [dbo].[Survey] ADD  DEFAULT (getdate()) FOR [DateOfEntry]
GO
ALTER TABLE [dbo].[Valution] ADD  DEFAULT (getdate()) FOR [ValuationDate]
GO
ALTER TABLE [dbo].[BoundaryBeacon]  WITH CHECK ADD  CONSTRAINT [FK_BoundaryBeacon_Beacon_BeaconId] FOREIGN KEY([BeaconId])
REFERENCES [dbo].[Beacon] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BoundaryBeacon] CHECK CONSTRAINT [FK_BoundaryBeacon_Beacon_BeaconId]
GO
ALTER TABLE [dbo].[BoundaryBeacon]  WITH CHECK ADD  CONSTRAINT [FK_BoundaryBeacon_Boundary_BoundaryId] FOREIGN KEY([BoundaryId])
REFERENCES [dbo].[Boundary] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BoundaryBeacon] CHECK CONSTRAINT [FK_BoundaryBeacon_Boundary_BoundaryId]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_Apartment_ApartmentId] FOREIGN KEY([ApartmentId])
REFERENCES [dbo].[Apartment] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_Apartment_ApartmentId]
GO
ALTER TABLE [dbo].[Building]  WITH CHECK ADD  CONSTRAINT [FK_Building_SpatialUnit_SpatialUnitId] FOREIGN KEY([SpatialUnitId])
REFERENCES [dbo].[SpatialUnit] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Building] CHECK CONSTRAINT [FK_Building_SpatialUnit_SpatialUnitId]
GO
ALTER TABLE [dbo].[Freehold]  WITH CHECK ADD  CONSTRAINT [FK_Freehold_Tenure_TenureId] FOREIGN KEY([TenureId])
REFERENCES [dbo].[Tenure] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Freehold] CHECK CONSTRAINT [FK_Freehold_Tenure_TenureId]
GO
ALTER TABLE [dbo].[GroupGroupLeadership]  WITH CHECK ADD  CONSTRAINT [FK_GroupGroupLeadership_GroupLeadership_GroupLeadershipId] FOREIGN KEY([GroupLeadershipId])
REFERENCES [dbo].[GroupLeadership] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupGroupLeadership] CHECK CONSTRAINT [FK_GroupGroupLeadership_GroupLeadership_GroupLeadershipId]
GO
ALTER TABLE [dbo].[GroupGroupMembership]  WITH CHECK ADD  CONSTRAINT [FK_GroupGroupMembership_GroupMembership_GroupMembershipId] FOREIGN KEY([GroupMembershipId])
REFERENCES [dbo].[GroupMembership] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupGroupMembership] CHECK CONSTRAINT [FK_GroupGroupMembership_GroupMembership_GroupMembershipId]
GO
ALTER TABLE [dbo].[GroupLeadershipPerson]  WITH CHECK ADD  CONSTRAINT [FK_GroupLeadershipPerson_GroupLeadership_GroupLeadershipId] FOREIGN KEY([GroupLeadershipId])
REFERENCES [dbo].[GroupLeadership] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupLeadershipPerson] CHECK CONSTRAINT [FK_GroupLeadershipPerson_GroupLeadership_GroupLeadershipId]
GO
ALTER TABLE [dbo].[GroupLeadershipPerson]  WITH CHECK ADD  CONSTRAINT [FK_GroupLeadershipPerson_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupLeadershipPerson] CHECK CONSTRAINT [FK_GroupLeadershipPerson_Person_PersonId]
GO
ALTER TABLE [dbo].[GroupOW]  WITH CHECK ADD  CONSTRAINT [FK_GroupOW_Owner_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupOW] CHECK CONSTRAINT [FK_GroupOW_Owner_OwnerId]
GO
ALTER TABLE [dbo].[InstitutionInstitutionLeadership]  WITH CHECK ADD  CONSTRAINT [FK_InstitutionInstitutionLeadership_InsitutionLeadership_InstitutionLeadershipId] FOREIGN KEY([InstitutionLeadershipId])
REFERENCES [dbo].[InsitutionLeadership] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstitutionInstitutionLeadership] CHECK CONSTRAINT [FK_InstitutionInstitutionLeadership_InsitutionLeadership_InstitutionLeadershipId]
GO
ALTER TABLE [dbo].[InstitutionInstitutionLeadership]  WITH CHECK ADD  CONSTRAINT [FK_InstitutionInstitutionLeadership_Institution_InstitutionId] FOREIGN KEY([InstitutionId])
REFERENCES [dbo].[Institution] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstitutionInstitutionLeadership] CHECK CONSTRAINT [FK_InstitutionInstitutionLeadership_Institution_InstitutionId]
GO
ALTER TABLE [dbo].[InstitutionLeadershipPerson]  WITH CHECK ADD  CONSTRAINT [FK_InstitutionLeadershipPerson_InsitutionLeadership_InstitutionLeadershipId] FOREIGN KEY([InstitutionLeadershipId])
REFERENCES [dbo].[InsitutionLeadership] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstitutionLeadershipPerson] CHECK CONSTRAINT [FK_InstitutionLeadershipPerson_InsitutionLeadership_InstitutionLeadershipId]
GO
ALTER TABLE [dbo].[InstitutionLeadershipPerson]  WITH CHECK ADD  CONSTRAINT [FK_InstitutionLeadershipPerson_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InstitutionLeadershipPerson] CHECK CONSTRAINT [FK_InstitutionLeadershipPerson_Person_PersonId]
GO
ALTER TABLE [dbo].[LandUse]  WITH CHECK ADD  CONSTRAINT [FK_LandUse_BuildingRegulations_BuildingRegulationsId] FOREIGN KEY([BuildingRegulationsId])
REFERENCES [dbo].[BuildingRegulations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LandUse] CHECK CONSTRAINT [FK_LandUse_BuildingRegulations_BuildingRegulationsId]
GO
ALTER TABLE [dbo].[LandUse]  WITH CHECK ADD  CONSTRAINT [FK_LandUse_Zone_ZoneId] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Zone] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LandUse] CHECK CONSTRAINT [FK_LandUse_Zone_ZoneId]
GO
ALTER TABLE [dbo].[Leasehold]  WITH CHECK ADD  CONSTRAINT [FK_Leasehold_Tenure_TenureId] FOREIGN KEY([TenureId])
REFERENCES [dbo].[Tenure] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Leasehold] CHECK CONSTRAINT [FK_Leasehold_Tenure_TenureId]
GO
ALTER TABLE [dbo].[Operation]  WITH CHECK ADD  CONSTRAINT [FK_Operation_Parcel] FOREIGN KEY([Parcelid])
REFERENCES [dbo].[Parcel] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Operation] CHECK CONSTRAINT [FK_Operation_Parcel]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Administration] FOREIGN KEY([Administrationid])
REFERENCES [dbo].[Administration] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Administration]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_LandUse_LandUseId] FOREIGN KEY([LandUseId])
REFERENCES [dbo].[LandUse] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_LandUse_LandUseId]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Owners] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Owners]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_OwnershiRights] FOREIGN KEY([OwnershipRights])
REFERENCES [dbo].[OwnershiRights] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_OwnershiRights]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Registration_RegistrationId] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Registration_RegistrationId]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Responsibility] FOREIGN KEY([Responsibilities])
REFERENCES [dbo].[Responsibility] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Responsibility]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Restriction] FOREIGN KEY([Restrictions])
REFERENCES [dbo].[Restriction] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Restriction]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_SpatialUnit_SpatialUnitId] FOREIGN KEY([SpatialUnitId])
REFERENCES [dbo].[SpatialUnit] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_SpatialUnit_SpatialUnitId]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Tenure_TenureId] FOREIGN KEY([TenureId])
REFERENCES [dbo].[Tenure] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Tenure_TenureId]
GO
ALTER TABLE [dbo].[Parcel]  WITH CHECK ADD  CONSTRAINT [FK_Parcel_Valution_ValuationId] FOREIGN KEY([ValuationId])
REFERENCES [dbo].[Valution] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parcel] CHECK CONSTRAINT [FK_Parcel_Valution_ValuationId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_To_Rates] FOREIGN KEY([rateid])
REFERENCES [dbo].[Rates] ([id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_To_Rates]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Owner_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Owner_OwnerId]
GO
ALTER TABLE [dbo].[PersonGroupMembership]  WITH CHECK ADD  CONSTRAINT [FK_PersonGroupMembership_GroupMembership_GroupMembershipId] FOREIGN KEY([GroupMembershipId])
REFERENCES [dbo].[GroupMembership] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonGroupMembership] CHECK CONSTRAINT [FK_PersonGroupMembership_GroupMembership_GroupMembershipId]
GO
ALTER TABLE [dbo].[PersonGroupMembership]  WITH CHECK ADD  CONSTRAINT [FK_PersonGroupMembership_Person_PersonId] FOREIGN KEY([PersonId])
REFERENCES [dbo].[Person] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonGroupMembership] CHECK CONSTRAINT [FK_PersonGroupMembership_Person_PersonId]
GO
ALTER TABLE [dbo].[Restriction]  WITH CHECK ADD  CONSTRAINT [FK_Restriction_Charge] FOREIGN KEY([chrageId])
REFERENCES [dbo].[Charge] ([Id])
GO
ALTER TABLE [dbo].[Restriction] CHECK CONSTRAINT [FK_Restriction_Charge]
GO
ALTER TABLE [dbo].[Restriction]  WITH CHECK ADD  CONSTRAINT [FK_Restriction_Mortgage] FOREIGN KEY([morgageid])
REFERENCES [dbo].[Mortgage] ([Id])
GO
ALTER TABLE [dbo].[Restriction] CHECK CONSTRAINT [FK_Restriction_Mortgage]
GO
ALTER TABLE [dbo].[Restriction]  WITH CHECK ADD  CONSTRAINT [FK_Restriction_Reserve] FOREIGN KEY([ReserveID])
REFERENCES [dbo].[Reserve] ([Id])
GO
ALTER TABLE [dbo].[Restriction] CHECK CONSTRAINT [FK_Restriction_Reserve]
GO
ALTER TABLE [dbo].[Restriction]  WITH CHECK ADD  CONSTRAINT [FK_Restriction_StaturtoryRestriction] FOREIGN KEY([Statutoryid])
REFERENCES [dbo].[StaturtoryRestriction] ([Id])
GO
ALTER TABLE [dbo].[Restriction] CHECK CONSTRAINT [FK_Restriction_StaturtoryRestriction]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_Operation] FOREIGN KEY([OPid])
REFERENCES [dbo].[Operation] ([Id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_Operation]
GO
ALTER TABLE [dbo].[SpatialUnit]  WITH CHECK ADD  CONSTRAINT [FK_SpatialUnit_Boundary_BoundaryId] FOREIGN KEY([BoundaryId])
REFERENCES [dbo].[Boundary] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialUnit] CHECK CONSTRAINT [FK_SpatialUnit_Boundary_BoundaryId]
GO
ALTER TABLE [dbo].[SpatialUnit]  WITH CHECK ADD  CONSTRAINT [FK_SpatialUnit_MapIndex_MapIndexId] FOREIGN KEY([MapIndexId])
REFERENCES [dbo].[MapIndex] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialUnit] CHECK CONSTRAINT [FK_SpatialUnit_MapIndex_MapIndexId]
GO
ALTER TABLE [dbo].[SpatialUnit]  WITH CHECK ADD  CONSTRAINT [FK_SpatialUnit_SpatialUnitSet_SpatialUnitSetId] FOREIGN KEY([SpatialUnitSetId])
REFERENCES [dbo].[SpatialUnitSet] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialUnit] CHECK CONSTRAINT [FK_SpatialUnit_SpatialUnitSet_SpatialUnitSetId]
GO
ALTER TABLE [dbo].[SpatialUnit]  WITH CHECK ADD  CONSTRAINT [FK_SpatialUnit_Survey_SurveyClassId] FOREIGN KEY([SurveyClassId])
REFERENCES [dbo].[Survey] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialUnit] CHECK CONSTRAINT [FK_SpatialUnit_Survey_SurveyClassId]
GO
ALTER TABLE [dbo].[SpatialUnitSetRegistration]  WITH CHECK ADD  CONSTRAINT [FK_SpatialUnitSetRegistration_Registration_RegistrationId] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialUnitSetRegistration] CHECK CONSTRAINT [FK_SpatialUnitSetRegistration_Registration_RegistrationId]
GO
ALTER TABLE [dbo].[SpatialUnitSetRegistration]  WITH CHECK ADD  CONSTRAINT [FK_SpatialUnitSetRegistration_SpatialUnitSet_SpatialUnitSetId] FOREIGN KEY([SpatialUnitSetId])
REFERENCES [dbo].[SpatialUnitSet] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SpatialUnitSetRegistration] CHECK CONSTRAINT [FK_SpatialUnitSetRegistration_SpatialUnitSet_SpatialUnitSetId]
GO
USE [master]
GO
