
@{
	ViewData["Title"] = "LIMS Portal";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>

	<environment include="Development">
		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />		
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">		
		<link href="~/lib/Datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
		<link href="~/css/PagedList.min.css" rel="stylesheet" />
		<link href="~/lib/openlayers/ol.css" rel="stylesheet" />
		<link href="~/lib/ol-popup/ol-popup.css" rel="stylesheet" />
		<link href="~/lib/ol-layerswitcher/ol-layerswitcher.css" rel="stylesheet" />
		<link href="~/css/site.css" rel="stylesheet"/>
		<link href="~/css/braintree/normalize.css" rel="stylesheet" />
		<link href="~/css/braintree/overrides.css" rel="stylesheet" />


	</environment>
	<environment exclude="Development">
		@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"
		asp-fallback-href="~/lib/bootstrap/css/bootstrap.css"
		asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@

		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
			  asp-append-version="true" />

		<link href="~/lib/Datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
		<link href="~/css/PagedList.min.css" rel="stylesheet" />
		<link href="~/lib/openlayers/ol.css" rel="stylesheet" />
		<link href="~/lib/ol-popup/ol-popup.css" rel="stylesheet" />
		<link href="~/lib/ol-layerswitcher/ol-layerswitcher.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
		<link href="~/css/braintree/normalize.css" rel="stylesheet" />
		<link href="~/css/braintree/overrides.css" rel="stylesheet" />


	</environment>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top font-weight-normal">
		<a class="navbar-brand" asp-controller="Home" asp-action="Index">LIMS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#limsNavbar" aria-controls="limsNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse " id="limsNavbar">

			<div class="navbar-nav mr-3">
				<a class="nav-item nav-link text-light" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link text-light" asp-controller="Home" asp-action="Contact">Contact<span class="sr-only">(current)</span></a>
			</div>

			@await Html.PartialAsync("_LoginPartial")

		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container">	

		@RenderBody()

		<footer class="pl-2 pr-2 pt-4 my-md-5 pt-md-4 border-top top10 bg-white" >
			<div class="row pb-4 text-dark font-weight-light ">
				<div class="col-4 col-md">
					<h5>Useful Links</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Land Transfers</a></li>
						<li><a class="text-muted" href="#">Land Search</a></li>
						<li><a class="text-muted" href="#">Land Adjudication</a></li>
						<li><a class="text-muted" href="#">Land Development</a></li>
					</ul>
				</div>
				<div class="col-4 col-md">
					<h5>Partner Websites</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">MoLHUD</a></li>
						<li><a class="text-muted" href="#">Ministry of Environment</a></li>
						<li><a class="text-muted" href="#">Government of Kenya</a></li>
						<li><a class="text-muted" href="#">Council of Governors</a></li>
					</ul>
				</div>
				<div class="col-4 col-md">
					<h5>Contact Us</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" href="#">Our Team </a></li>
						<li><a class="text-muted" href="#">Our Branches</a></li>
						<li><a class="text-muted" asp-controller="Home" asp-action="Privacy">Our Privacy Policy</a></li>
						<li><a class="text-muted" asp-controller="Home" asp-action="Terms">Terms & Conditions</a></li>
					</ul>
				</div>

			</div>
			<div class="row pb-md-4 border-top justify-content-center">
				<div class="col-md-12  text-center text-small">
					<small>
						<span>
							County Land Information Management System&nbsp;|&nbsp;
						</span>
						<span>
							<span>&copy; @DateTime.Now.Year </span>
							<a href="http://www.osl.co.ke" target="_blank" class="text-muted" style="text-decoration:none">
								Oakar Services Limited
							</a>&nbsp;|&nbsp;All Rights Reserved
						</span>
					</small>
				</div>
			</div>

		</footer>
		
	</div>

	<environment include="Development">
		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/jquery-ajax-unobstrusive/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/lib/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
		<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/lib/Datatables/js/jquery.dataTables.min.js"></script>
		<script src="~/lib/Datatables/js/dataTables.bootstrap4.min.js"></script>

		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

		<script src="~/lib/signalr/signalr.js"></script>
		<script src="~/lib/chartJs/Chart.min.js"></script>

		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

		<script src="~/lib/openlayers/ol.js"></script>
		<script src="~/lib/ol-popup/ol-popup.js"></script>
		<script src="~/lib/ol-layerswitcher/ol-layerswitcher.js"></script>

		<script src="~/js/maps.js" asp-append-version="true"></script>
		<script src="~/js/ie10-viewport-bug-workaround.js"></script>
		<script src="~/js/payments.js" asp-append-version="true"></script>


	</environment>

	<environment exclude="Development">
		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/jquery-ajax-unobstrusive/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/lib/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="~/lib/jquery.easing/jquery.easing.min.js"></script>
		<script src="~/lib/Datatables/js/jquery.dataTables.min.js"></script>
		<script src="~/lib/Datatables/js/dataTables.bootstrap4.min.js"></script>

		@*<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous">
		</script>*@
		<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

		<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

		<script src="~/lib/signalr/signalr.min.js"></script>
		<script src="~/lib/chartJs/Chart.min.js"></script>
		<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
		<script src="~/lib/openlayers/ol.js"></script>
		<script src="~/lib/ol-popup/ol-popup.js"></script>
		<script src="~/lib/ol-layerswitcher/ol-layerswitcher.js"></script>
		<script src="~/js/maps.min.js" asp-append-version="true"></script>
		<script src="~/js/ie10-viewport-bug-workaround.js"></script>
		<script src="~/js/payments.js"></script>

	</environment>


	@RenderSection("Scripts", required: false)

</body>
</html>
