@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "LIMS Portal";
}



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>

	<environment include="Development">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="~/lib/Datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
		<link href="~/css/PagedList.min.css" rel="stylesheet" />
		<link href="~/lib/openlayers/ol.css" rel="stylesheet" />
		<link href="~/lib/ol-popup/ol-popup.css" rel="stylesheet" />
		<link href="~/lib/ol-layerswitcher/ol-layerswitcher.css" rel="stylesheet" />
		<link href="~/lib/tippyjs/themes/google.css" rel="stylesheet" />
		<link href="~/lib/tippyjs/themes/light.css" rel="stylesheet" />
		<link href="~/lib/tippyjs/tippy.css" rel="stylesheet" />
		<link href="~/css/site.css" rel="stylesheet" />
		<link href="~/css/braintree/normalize.css" rel="stylesheet" />
		<link href="~/css/braintree/overrides.css" rel="stylesheet" />
	</environment>

	<environment exclude="Development">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
		<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
		<link href="~/lib/Datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
		<link href="~/css/PagedList.min.css" rel="stylesheet" />
		<link href="~/lib/openlayers/ol.css" rel="stylesheet" />
		<link href="~/lib/ol-popup/ol-popup.css" rel="stylesheet" />
		<link href="~/lib/ol-layerswitcher/ol-layerswitcher.css" rel="stylesheet" />
		<link href="~/lib/tippyjs/themes/google.css" rel="stylesheet" />
		<link href="~/lib/tippyjs/themes/light.css" rel="stylesheet" />
		<link href="~/lib/tippyjs/tippy.css" rel="stylesheet" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
		<link href="~/css/braintree/normalize.css" rel="stylesheet" />
		<link href="~/css/braintree/overrides.css" rel="stylesheet" />
	</environment>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" asp-controller="Home" asp-action="Index">LIMS</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#limsNavbar" aria-controls="limsNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="limsNavbar">

			<div class="navbar-nav mr-auto">
				<a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>

				@if (SignInManager.IsSignedIn(User))
				{
					ApplicationUser user = await UserManager.FindByNameAsync(User.Identity.Name);

					@if (await UserManager.IsInRoleAsync(user, "Administrators"))
					{
						<a class="nav-item nav-link" asp-area="" asp-page="">Admin Dashboard</a>

						<a class="nav-item nav-link" asp-area="Identity" asp-page="/UserAdmin/Index">Manage Users</a>

						<a class="nav-item nav-link" asp-controller="" asp-action="">Invoicing</a>

						<a class="nav-item nav-link" asp-controller="Payments" asp-action="PaymentsList">Payments History</a>
					}
					else
					{
						<a class="nav-item nav-link" asp-controller="Home" asp-action="Services">County Services</a>
						<a class="nav-item nav-link" asp-controller="Properties" asp-action="Properties">My Dashboard</a>
						@*<a class="nav-item nav-link" asp-controller="Home" asp-action="Contact">Contact Us<span class="sr-only">(current)</span></a>*@
					}

				}




			</div>

			@await Html.PartialAsync("_LoginPartial")




		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container pb-5">

		@RenderBody()
	</div>

	<footer class="border-top footer text-muted">
		<div class="container text-center">
			&copy; @DateTime.Now.Year |
			<a href="http://www.osl.co.ke" target="_blank" class="text-muted" style="text-decoration:none">
				Oakar Services Limited
			</a>&nbsp;|&nbsp;County LIMS Portal | All Rights Reserved | <a asp-area="" asp-page="/Privacy">Privacy Policy</a>
		</div>
	</footer>



	<environment include="Development">
		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/jquery-ajax-unobstrusive/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/lib/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="~/lib/jquery.easing/jquery.easing.min.js"></script>

		<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
		<script src="~/lib/Datatables/js/jquery.dataTables.min.js"></script>
		<script src="~/lib/Datatables/js/dataTables.bootstrap4.min.js"></script>


		@*<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@

		<script src="~/lib/signalr/signalr.js"></script>
		<script src="~/lib/chartJs/Chart.min.js"></script>

		@*<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>*@

		<script src="~/lib/openlayers/ol.js"></script>
		<script src="~/lib/ol-popup/ol-popup.js"></script>
		<script src="~/lib/ol-layerswitcher/ol-layerswitcher.js"></script>
		<script src="~/lib/tippyjs/tippy.min.js"></script>


		<script src="~/js/ie10-viewport-bug-workaround.js"></script>
		<script src="~/js/payments.js" asp-append-version="true"></script>


	</environment>

	<environment exclude="Development">
		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/jquery-ajax-unobstrusive/jquery.unobtrusive-ajax.min.js"></script>
		<script src="~/lib/jquery-migrate/jquery-migrate.min.js"></script>
		<script src="~/lib/jquery.easing/jquery.easing.min.js"></script>

		<script src="~/lib/Datatables/js/jquery.dataTables.min.js"></script>
		<script src="~/lib/Datatables/js/dataTables.bootstrap4.min.js"></script>

		<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>


		@*<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>*@

		<script src="~/lib/signalr/signalr.min.js"></script>
		<script src="~/lib/chartJs/Chart.min.js"></script>

		@*<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>*@

		<script src="~/lib/openlayers/ol.js"></script>
		<script src="~/lib/ol-popup/ol-popup.js"></script>
		<script src="~/lib/ol-layerswitcher/ol-layerswitcher.js"></script>
		<script src="~/lib/tippyjs/tippy.min.js"></script>
		<script src="~/js/ie10-viewport-bug-workaround.js"></script>
		<script src="~/js/payments.js"></script>

	</environment>


	@RenderSection("Scripts", required: false)

</body>
</html>
