@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="logoutForm">

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" asp-controller="Account" asp-action="UserProfile">Services</a>
            <a class="p-2 text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)</a>         
        </nav>

        <button type="submit" class="btn btn-link navbar-btn nav-link">Logout</button>


    </form>
}
else
{
    <nav class="my-2 my-md-0 mr-md-3">     
        <a class="p-2 text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="p-2 text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

    </nav>
   

}