@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="logoutForm">

   
    <ul class="navbar-nav mr-auto pull-right">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="UserProfile">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Properties" asp-action="Properties">My Properties</a>
        </li>
        <li class="nav-item">
            <img src="~/Photo" />
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)</a> 
        </li>
    </ul>
    @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>*@

    <button type="submit" class="btn btn-link navbar-btn nav-link">Logout</button>


</form>
}
else
{
  
    <ul class="navbar-nav mr-auto pull-right">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    </ul>


}