@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form class="form-inline ml-auto" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="logoutForm">

    <div class="nav-item">
        <a class="nav-link text-light" asp-controller="Account" asp-action="UserProfile">Services</a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-light" asp-controller="Properties" asp-action="Properties">My Properties</a>
    </div>
    @*<div class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)</a>
    </div>*@
    <div class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index">Manage Account</a>
    </div>
    <div class="nav-item">
        <button type="submit" class="btn btn-outline-info nav-link" >Logout</button>
    </div>


    @*<li>
            <img src="~/Photo" />
        </li>*@

</form>
}
else
{
<form class="form-inline ml-auto">
    <div class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </div>
    <div class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
</form>
   

}