@using Microsoft.AspNetCore.Identity
@using LIMSInfrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
	
	ApplicationUser user = await UserManager.FindByNameAsync(User.Identity.Name);
	

	@if (await UserManager.IsInRoleAsync(user, "Administrators"))
	{
		<a class="nav-item nav-link text-light" asp-area="Identity" asp-page="/UserAdmin/Index">Manage Users</a>
		<a class="nav-item nav-link text-light" asp-controller="Payments" asp-action="PaymentsList">Payments History</a>
	}

	<a class="nav-item nav-link text-light" asp-controller="Home" asp-action="Services">County Services</a>
	<a class="nav-item nav-link text-light" asp-controller="Properties" asp-action="Properties">Dashboard</a>

	<form class="form-inline ml-auto" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="logoutForm">

		<a asp-area="Identity" asp-page="/Account/Manage/Index" class="nav-item nav-link text-light" data-toggle="tooltip" title="Manage Account">
			<span><img class="user-img-circular" asp-controller="Photo" asp-action="Index" src="~/photo" /></span>
			<strong class="user-name text-left">@UserManager.GetUserName(User)</strong>
		</a>
		<button type="submit" data-toggle="tooltip" title="Logout" class="btn btn-sm btn-outline-danger nav-link">Logout</button>
	</form>
}
else
{
	<form class="form-inline ml-auto">
		<a class="nav-item nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
		<a class="nav-item nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
	</form>

}

