@model LIMSCore.Entities.Survey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompsNo" class="control-label"></label>
                <input asp-for="CompsNo" class="form-control" />
                <span asp-validation-for="CompsNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParcelId" class="control-label"></label>
                <input asp-for="ParcelId" class="form-control" />
                <span asp-validation-for="ParcelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PdpRefNo" class="control-label"></label>
                <input asp-for="PdpRefNo" class="form-control" />
                <span asp-validation-for="PdpRefNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlansNo" class="control-label"></label>
                <input asp-for="PlansNo" class="form-control" />
                <span asp-validation-for="PlansNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyorsName" class="control-label"></label>
                <input asp-for="SurveyorsName" class="form-control" />
                <span asp-validation-for="SurveyorsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfSurvey" class="control-label"></label>
                <input asp-for="TypeOfSurvey" class="form-control" />
                <span asp-validation-for="TypeOfSurvey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

