@model LIMSCore.Entities.Beacon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Beacon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BeaconNum" class="control-label"></label>
                <input asp-for="BeaconNum" class="form-control" />
                <span asp-validation-for="BeaconNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeaconType" class="control-label"></label>
                <input asp-for="BeaconType" class="form-control" />
                <span asp-validation-for="BeaconType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateSet" class="control-label"></label>
                <input asp-for="DateSet" class="form-control" />
                <span asp-validation-for="DateSet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hcoordinate" class="control-label"></label>
                <input asp-for="Hcoordinate" class="form-control" />
                <span asp-validation-for="Hcoordinate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorizontalDatum" class="control-label"></label>
                <input asp-for="HorizontalDatum" class="form-control" />
                <span asp-validation-for="HorizontalDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerticalDatum" class="control-label"></label>
                <input asp-for="VerticalDatum" class="form-control" />
                <span asp-validation-for="VerticalDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xcoordinate" class="control-label"></label>
                <input asp-for="Xcoordinate" class="form-control" />
                <span asp-validation-for="Xcoordinate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ycoordinate" class="control-label"></label>
                <input asp-for="Ycoordinate" class="form-control" />
                <span asp-validation-for="Ycoordinate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
