@model LIMSCore.Entities.LandUse

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>LandUse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BuildingRegulationsId" class="control-label"></label>
                <select asp-for="BuildingRegulationsId" class="form-control" asp-items="ViewBag.BuildingRegulationsId"></select>
                <span asp-validation-for="BuildingRegulationsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandUseStatus" class="control-label"></label>
                <input asp-for="LandUseStatus" class="form-control" />
                <span asp-validation-for="LandUseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandUseType" class="control-label"></label>
                <input asp-for="LandUseType" class="form-control" />
                <span asp-validation-for="LandUseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegulationAgency" class="control-label"></label>
                <input asp-for="RegulationAgency" class="form-control" />
                <span asp-validation-for="RegulationAgency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneId" class="control-label"></label>
                <select asp-for="ZoneId" class="form-control" asp-items="ViewBag.ZoneId"></select>
                <span asp-validation-for="ZoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
