
<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item active">Contact</li>
	</ol>
</div>
<!-- Page Content -->

	<!-- Page Heading/Breadcrumbs -->
	<h1 class="mt-4 mb-2">
		Contact
		<small>Us</small>
	</h1>
	<!-- Content Row -->
	<div class="row">
		<!-- Map Column -->
		<div class="col-lg-8 mb-2">
			<!-- Embedded Google Map -->
			@*<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=37.0625,-95.677068&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>*@
			<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=oakar%20services&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.pureblack.de">website erstellen</a></div>
			<style>
				.mapouter {
					text-align: right;
					height: 350px;
					width: 600px;
				}
				.gmap_canvas {
					overflow: hidden;
					background: none !important;
					height: 350px;
					width: 100%;
				}
			</style>
			</div>
		</div>
		<!-- Contact Details Column -->
		<div class="col-lg-4 mb-2">
			<h3>Contact Details</h3>
			<p>
				KUSCCO Centre, Mezzanine Floor
				<br>Kilimanjaro Road, Upper Hill
				<br>
			</p>
			<p>
				<abbr title="Phone">P</abbr>: +254 708-895644
			</p>
			<p>
				<abbr title="Email">E</abbr>:
				<a href="mailto:info@osl.co.ke">
					info@osl.co.ke
				</a>
			</p>
			<p>
				<abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM
			</p>
		</div>
	</div>
	<!-- /.row -->
	<!-- Contact Form -->
	<!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
	<div class="row">
		<div class="col-lg-8 mb-4 mt-2">
			<h3>Send us a Message</h3>
			<form name="sentMessage" class="" id="contactForm" novalidate>
				<div class="control-group form-group">
					<div class="controls">
						<label>Full Name:</label>
						<input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
						<p class="help-block"></p>
					</div>
				</div>
				<div class="control-group form-group">
					<div class="controls">
						<label>Phone Number:</label>
						<input type="tel" class="form-control" id="phone" required data-validation-required-message="Please enter your phone number.">
					</div>
				</div>
				<div class="control-group form-group">
					<div class="controls">
						<label>Email Address:</label>
						<input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
					</div>
				</div>
				<div class="control-group form-group">
					<div class="controls">
						<label>Message:</label>
						<textarea rows="10" cols="100" class="form-control" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
					</div>
				</div>
				<div id="success"></div>
				<!-- For success/fail messages -->
				<button type="submit" class="btn btn-info" id="sendMessageButton">Send Message</button>
			</form>
		</div>

	</div>
	<!-- /.row -->

