
@using Microsoft.AspNetCore.Identity
@using LIMS.Infrastructure.Identity

@inject SignInManager<ApplicationUser> SignInManager	

	@*<div class="content-header row">
		<div class="content-header-left col-md-6 col-12 mb-1">
			<h3 class="content-header-title">Home</h3>
		</div>
		<div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
			<div class="breadcrumb-wrapper col-12">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">
						<a asp-controller="Home" asp-action="Index">Home</a>
					</li>
					
				</ol>
			</div>
		</div>
	</div>*@

	<div>
		<ol class="breadcrumb">
			<li class="breadcrumb-item active">
				<a asp-controller="Home" asp-action="Index">Home /</a>
			</li>			
		</ol>
	</div>

<section class="row">
	<div class="col-sm-12">				
				
		<div id="kick-start" class="card">
			<div class="card-header">
				<h4 class="card-title">County Land Information Portal</h4>
				@*<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
						<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
						<li><a data-action="close"><i class="ft-x"></i></a></li>
					</ul>
				</div>*@
			</div>
			<div class="card-content collapse show">
				<div class="card-body">
					<div class="card-text">
								
						<p class="lead">
							CLIMS is an integrated platform that provides access to land information and
							makes it easy for County Governments and property owners to manage rateable property.
						</p>
						<hr class="my-4">

						<p class="lead">
							<a class="btn btn-info btn-lg" asp-controller="Home" asp-action="About" role="button">Learn more</a>
						</p>
					</div>
				</div>
			</div>
		</div>
				

	</div>
</section>


<section class="row">

	@if (SignInManager.IsSignedIn(User))
	{				
		<div class="col-md-4">

				<div>
					<a asp-controller="Parcels" asp-action="Search" class="text-info-modified">

						<div class="card text-center card-padding">
							
							<div class="card-body">
								
								<div class="bs-callout-success mt-1">
									<div class="media align-items-stretch">
										<div class="d-flex align-items-start bg-success p-2">
											<i class="fa fa-search fa-3x white font-large-2"></i>
										</div>
										<div class="media-body p-1">
											<strong>Property Status</strong>
											<p>Query status of other properties</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		<div class="col-md-4">

				<a asp-controller="Properties" asp-action="Properties" class="text-info-modified">

					<div class="card text-center card-padding">
						
						<div class="card-body">
							

							<div class="bs-callout-success mt-1">
								<div class="media align-items-stretch">
									<div class="d-flex align-items-start bg-success p-2">
										<i class="fa fa-pie-chart fa-3x white font-large-2"></i>
									</div>
									<div class="media-body p-1">
										<strong>Dashboard</strong>
										<p>Go to dashboard</p>
									</div>
								</div>
							</div>

						</div>
					</div>


				</a>

			</div>
		<div class="col-md-4 ">

				<a asp-controller="Home" asp-action="Services" class="text-info-modified">

					<div class="card text-center card-padding">
					
						<div class="card-body">
							
							<div class="bs-callout-success mt-1">
								<div class="media align-items-stretch">
									<div class="d-flex align-items-start bg-success p-2">
										<i class="fa fa-cog fa-3x white font-large-2"></i>
									</div>
									<div class="media-body p-1">
										<strong>County Services</strong>
										<p>View Available Services</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>


			</div>				
	}
	else
	{
				
		<div class="col-md-4  ">
			<a asp-area="Identity" asp-page="/Account/Register" class="text-info-modified">
				<div class="card text-center card-padding">
					
					<div class="card-body">					

						<div class="bs-callout-primary mt-1">
							<div class="media align-items-stretch">
								<div class="d-flex align-items-start bg-primary p-2">
									<i class="fa fa-user-plus fa-3x white font-large-2"></i>
								</div>
								<div class="media-body p-1">
									<strong>Create Account</strong>
									<p>Create a new user account</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				

			</a>
			</div>
		<div class="col-md-4 ">
				<a asp-area="Identity" asp-page="/Account/Login" class="text-info-modified">
					<div class="card text-center card-padding">
						
						<div class="card-body">						

							<div class="bs-callout-success mt-1">
								<div class="media align-items-stretch">
									<div class="d-flex align-items-start bg-success p-2">
										<i class="fa fa-sign-in fa-3x white font-large-2"></i>
									</div>
									<div class="media-body p-1">
										<strong>Sign In</strong>
										<p>Sign into your user account</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</a>

			</div>
		<div class="col-md-4 ">
			<a asp-controller="Home" asp-action="Terms" class="text-info-modified">
				<div class="card text-center card-padding">
					
					<div class="card-body">
						
						<div class="bs-callout-danger mt-1">
							<div class="media align-items-stretch">
								<div class="d-flex align-items-start bg-danger p-2">
									<i class="fa fa-exclamation-circle fa-3x  white font-large-2"></i>
								</div>
								<div class="media-body p-1">
									<strong>Terms and Conditions</strong>
									<p>Read our terms and conditions</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</a>
		</div>			
				

	}

</section>
	
