/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron {
    margin-top: 10px;
}

.map {
    margin-top: 10px;
    height: 400px;
    width: 100%;
}

#controls {
    margin-bottom: 10px;
    margin-top: 50px;
}

.player {
    margin-top: 10px;
}

.legend-group {
    display: flex;
    flex-direction: row;
}

.parent-legend {
    margin-top: 80px;
}

.legend {
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.legend-1 {
    background: brown;
}

.legend-2 {
    background: red;
}

.legend-3 {
    background: orange;
}

.legend-4 {
    background: yellow;
}

.legend-5 {
    background: #ffffcc;
}

.legend-label {
    float: right;
    padding-top: 5px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Custom Navbar*/
.navbar-custom {
    background-color: #996600;
    color: #ffcc00;
    border-radius: 0;
}

    .navbar-custom .navbar-nav > li > a {
        color: #ffcc00;
    }

    .navbar-custom .navbar-nav > .active > a {
        color: #663300;
        background-color: transparent;
    }

        .navbar-custom .navbar-nav > li > a:hover,
        .navbar-custom .navbar-nav > li > a:focus,
        .navbar-custom .navbar-nav > .active > a:hover,
        .navbar-custom .navbar-nav > .active > a:focus,
        .navbar-custom .navbar-nav > .open > a {
            text-decoration: none;
            background-color: #663300;
        }

    .navbar-custom .navbar-brand {
        color: #ffcc00;
    }

    .navbar-custom .navbar-toggle {
        background-color: #663300;
    }

    .navbar-custom .icon-bar {
        background-color: #663300;
    }
/*End Custom Navbar*/