@page
@model EditModel
@{
}

<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item active">Admin-Dashboard</li>
	</ol>
</div>

<section id="">
	
</section>

@section Scripts{
	

}


