@page "/admin/dashboard"
@model DashboardModel
@{
}

<div>
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a asp-controller="Home" asp-action="Index">Home</a>
		</li>
		<li class="breadcrumb-item active">Admin-Dashboard</li>
	</ol>
</div>

<section id="lims-stats">
	<div class="row">
		<div class="col-12 mb-1">
			<h4 class="text-uppercase">CLIMS Revenue Analytics</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="card text-white bg-gradient-y2-primary">
				<div class="card-header">
					<h4 class="card-title">Current Revenue Per Sub-County</h4>
					<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
							<li><a data-action="close"><i class="ft-x"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<div id="doughnut" class="height-400 echart-container"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="card text-white bg-gradient-y-cyan">
				<div class="card-header">
					<h4 class="card-title">Revue By Timeline</h4>
					<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
							<li><a data-action="close"><i class="ft-x"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<div id="timeline" class="height-400 echart-container"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row match-height">
		<!-- Nightingale Rose With Labels Chart -->
		<div class="col-md-6 col-sm-12">
			<div class="card bg-blue-grey bg-darken-2 text-white">
				<div class="card-header">
					<h4 class="card-title">Revenue By Month</h4>
					<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
							<li><a data-action="close"><i class="ft-x"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<div id="nightingale-rose-labels" class="height-400 echart-container"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-12">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Top 5 County Property Owners</h4>
					<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
							<li><a data-action="close"><i class="ft-x"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="card-content collapse show">
					<div class="media-list">
						<a href="#" class="media active">
							<div class="media-left">
								<img class="media-object rounded-circle" src="../../../lims-assets/images/portrait/small/avatar-s-7.png" alt="Generic placeholder image" style="width: 48px;height: 48px;">
							</div>
							<div class="media-body">
								<h5 class="list-group-item-heading">Kristopher Candy <span class="font-medium-4 float-right pt-1">KSh 1,021</span></h5>
								<p class="list-group-item-text"><span class="badge badge-primary mr-1">Electronics</span><span class="badge badge-warning">Decor</span></p>
							</div>
						</a>
						<a href="#" class="media">
							<div class="media-left">
								<img class="media-object rounded-circle" src="../../../lims-assets/images/portrait/small/avatar-s-16.png" alt="Generic placeholder image" style="width: 48px;height: 48px;">
							</div>
							<div class="media-body">
								<h5 class="list-group-item-heading">Aurore Thomsen<span class="font-medium-4 float-right pt-1">KSh 2,021</span></h5>
								<p class="list-group-item-text mb-0"><span class="badge badge-danger">Appliances</span></p>
							</div>
						</a>
						<a href="#" class="media">
							<div class="media-left">
								<img class="media-object rounded-circle" src="../../../lims-assets/images/portrait/small/avatar-s-12.png" alt="Generic placeholder image" style="width: 48px;height: 48px;">
							</div>
							<div class="media-body">
								<h5 class="list-group-item-heading">Rubi Pauli<span class="font-medium-4 float-right pt-1">KSh 1,112</span></h5>
								<p class="list-group-item-text mb-0">
									<span class="badge badge-primary mr-1">Electronics</span>
									<span class="badge badge-success">Office</span>
								</p>
							</div>
						</a>
						<a href="#" class="media">
							<div class="media-left">
								<img class="media-object rounded-circle" src="../../../lims-assets/images/portrait/small/avatar-s-9.png" alt="Generic placeholder image" style="width: 48px;height: 48px;">
							</div>
							<div class="media-body">
								<h5 class="list-group-item-heading">Monty Punch<span class="font-medium-4 float-right pt-1">KSh 2,815</span></h5>
								<p class="list-group-item-text mb-0">
									<span class="badge badge-warning mr-1">Decor</span>
									<span class="badge badge-danger">Appliances</span>
								</p>
							</div>
						</a>
						<a href="#" class="media">
							<div class="media-left">
								<img class="media-object rounded-circle" src="../../../lims-assets/images/portrait/small/avatar-s-12.png" alt="Generic placeholder image" style="width: 48px;height: 48px;">
							</div>
							<div class="media-body">
								<h5 class="list-group-item-heading">Stasia Kremer<span class="font-medium-4 float-right pt-1">KSh 2,021</span></h5>
								<p class="list-group-item-text mb-0"><span class="badge badge-primary mr-1">Electronics</span><span class="badge badge-warning">Decor</span></p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts{
	

	<!-- BEGIN: Page Vendor JS-->
	<script src="../../../lims-assets/vendors/js/charts/echarts/echarts.js"></script>
	<!-- END: Page Vendor JS-->
	
	<!-- BEGIN: Page JS-->
	<script src="../../../lims-assets/js/scripts/cards/card-ecommerce.js"></script>
	<!-- END: Page JS-->

}


