@model LIMSCore.Entities.SpatialUnit

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SpatialUnit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoundaryId" class="control-label"></label>
                <select asp-for="BoundaryId" class ="form-control" asp-items="ViewBag.BoundaryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Layer" class="control-label"></label>
                <input asp-for="Layer" class="form-control" />
                <span asp-validation-for="Layer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Length" class="control-label"></label>
                <input asp-for="Length" class="form-control" />
                <span asp-validation-for="Length" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MapIndexId" class="control-label"></label>
                <select asp-for="MapIndexId" class ="form-control" asp-items="ViewBag.MapIndexId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PreliminaryUnitId" class="control-label"></label>
                <input asp-for="PreliminaryUnitId" class="form-control" />
                <span asp-validation-for="PreliminaryUnitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferencePoint" class="control-label"></label>
                <input asp-for="ReferencePoint" class="form-control" />
                <span asp-validation-for="ReferencePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpatialUnitSetId" class="control-label"></label>
                <select asp-for="SpatialUnitSetId" class ="form-control" asp-items="ViewBag.SpatialUnitSetId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SpatialUnitType" class="control-label"></label>
                <input asp-for="SpatialUnitType" class="form-control" />
                <span asp-validation-for="SpatialUnitType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyClassId" class="control-label"></label>
                <select asp-for="SurveyClassId" class ="form-control" asp-items="ViewBag.SurveyClassId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Volume" class="control-label"></label>
                <input asp-for="Volume" class="form-control" />
                <span asp-validation-for="Volume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
