@page "/account/confirm-password"
@model ForgotPasswordConfirmation
@{
	ViewData["Title"] = "Forgot password confirmation";
}

<section class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">@ViewData["Title"]</h2>
			</div>
			<div class="card-content">
				<div class="card-body">
					<p>
						Please check your email to reset your password.
					</p>
				</div>
			</div>
		</div>
	</div>
	
</section>



