@page "/account/locked-out"
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}



<section class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h1 class="card-title">@ViewData["Title"]</h1>
			</div>
			<div class="card-content">
				<div class="card-body">
					<header>
						<p class="text-danger">This account has been locked out, please try again later.</p>
					</header>
				</div>
			</div>
		</div>
	</div>

</section>
