@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}


<section class="row justify-content-md-center">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title" id="horz-layout-colored-controls">Register</h4>
				<a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">						
						<li><a data-action="expand"><i class="ft-maximize"></i></a></li>						
					</ul>
				</div>
			</div>

			<div class="card-content collapse show">
				<div class="card-body">
					<div class="card-text">
						<p>Fill in form to register a new account.</p>
					</div>

					<form class="form form-horizontal" asp-route-returnUrl="@Model.ReturnUrl" method="post">
						<div class="form-body">
							<div asp-validation-summary="All" class="alert-danger"></div>
							@*<h4 class="form-section"><i class="fa fa-eye"></i> About User</h4>*@
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.FirstName"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.FirstName" class="form-control border-primary" placeholder="First Name">
											<span asp-validation-for="Input.FirstName" class="alert-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.LastName"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.LastName" class="form-control border-primary" placeholder="Last Name">
											<span asp-validation-for="Input.LastName" class="alert-danger"></span>
										</div>
									</div>
								</div>
								
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.MiddleName"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.MiddleName" class="form-control border-primary" placeholder="Other Name">
											<span asp-validation-for="Input.MiddleName" class="alert-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.UserName"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.UserName" class="form-control border-primary" placeholder="Username">
											<span asp-validation-for="Input.UserName" class="alert-danger"></span>
										</div>
									</div>
								</div>
								
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.Email"></label>
										<div class="col-md-9">
											<input type="email" asp-for="Input.Email" class="form-control border-primary" placeholder="Email">
											<span asp-validation-for="Input.Email" class="alert-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.PhoneNumber"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.PhoneNumber" class="form-control border-primary" placeholder="Phone Number">
											<span asp-validation-for="Input.PhoneNumber" class="alert-danger"></span>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.IDNumber"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.IDNumber" class="form-control border-primary" placeholder="Id Number">
											<span asp-validation-for="Input.IDNumber" class="alert-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.KRAPIN"></label>
										<div class="col-md-9">
											<input type="text" asp-for="Input.KRAPIN" class="form-control border-primary" placeholder="KRA PIN">
											<span asp-validation-for="Input.KRAPIN" class="alert-danger"></span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.Password"></label>
										<div class="col-md-9">
											<input type="password" asp-for="Input.Password" class="form-control border-primary" placeholder="Password">
											<span asp-validation-for="Input.Password" class="alert-danger"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-md-3 label-control" asp-for="Input.ConfirmPassword"></label>
										<div class="col-md-9">
											<input type="password" asp-for="Input.ConfirmPassword" class="form-control border-primary" placeholder="Confirm Password">
											<span asp-validation-for="Input.ConfirmPassword" class="alert-danger"></span>
										</div>
									</div>
								</div>
							</div>


						</div>

						<div class="form-actions right">
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-check-square-o"></i> Register
							</button>
							
						</div>
						
					</form>

				</div>
			</div>
			
		</div>		
	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
