@page "/account/confirm-password-reset"
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}


<section class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-header">
				<h2 class="card-title">@ViewData["Title"]</h2>
			</div>
			<div class="card-content">
				<div class="card-body">
					<p>
						Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
