@model LIMSWebApp.ViewModels.AccountViewModels.RegisterViewModel
@{
    
    Layout = "_LayoutNav";
}

<div class="container">
  
    <div class="text-center  col-md-4 col-md-offset-4 rounded" style="box-shadow:0px 0px 1px 1px;">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <h4>Create a new account.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group panel-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" placeholder="User Name" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> I agree to the <a href="#">Terms and Conditions</a>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>
           
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
