@{
    ViewData["Title"] = "UserProfile";
    Layout = "_LayoutNav";
   
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="list-group"><a class="list-group-item alert-dark"></a>
                <a href="#" class="list-group-item primary">Services</a>
                <div class="list-group-item">
                    <a asp-controller="ParcelsIndex" asp-action="Search">Search Parcel</a> <br /><br />
                    <a asp-controller="ParcelsIndex" asp-action="Search">View Parcel Rate</a>
                </div>
              
                <div class="list-group-item">
                   
                </div> <a class="list-group-item active"></a>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

