@{
    ViewData["Title"] = "UserProfile";
    Layout = "_Layout";

}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="box-shadow:0px 0px 1px 1px;border-bottom-left-radius:10px;border-top-left-radius:10px;border-bottom-right-radius:10px;border-top-right-radius:10px">
            <div class="list-group">
                <a class="list-group-item alert-dark"></a>
                <a class="list-group-item primary">Services</a>
                <div class="list-group-item">
                    <a asp-controller="ParcelsIndex" asp-action="Search">Search Parcel</a> <br /><br />
                    <a asp-controller="ParcelsIndex" asp-action="Search">View Parcel Rate</a>
                </div>

            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
