@{
    ViewData["Title"] = "User Profile";
}

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Land Search</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Requirements</small></h1>
            @*<span><i class="fa fa-search-plus"></i></span>*@
            <ul class="list-unstyled mt-3 mb-4">
                <li>Parcel Number</li>
                <li>Your National ID</li>
                <li>Your KRA PIN</li>                
            </ul>
            <button type="button" onclick="location.href='@Url.Action("Search", "ParcelsIndex")'" class="btn btn-lg btn-block btn-outline-primary">Land Search</button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Property Search</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Requirements</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Parcel Number</li>
                <li>Your National ID</li>
                <li>Your KRA PIN</li>

            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Land Transfer</button>
        </div>
    </div>
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Other Services</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">Requirements</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li>Parcel Number</li>
                <li>Your National ID</li>
                <li>Your KRA PIN</li>

            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">Other Services</button>
        </div>
    </div>
</div>



