
@{
    ViewData["Title"] = "Applicants";
    Layout = "~/Views/Shared/_LayoutNav.cshtml";
}

<h2>Applicants</h2>


<hr />
<div>
    @await Html.PartialAsync("~/Views/ParcelsIndex/edit.cshtml")
</div>