@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="~/css/site.css" />*@
<!------ Include the above in your HEAD tag ---------->

<div class="upload">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong> <small>LIMS file uploads</small></div>
        <div class="panel-body">
            <!-- Standar Form -->
            <h4>Select files from your computer</h4>
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="file" name="files[]" id="js-upload-files" multiple>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                </div>
            </form>
            <!-- Drop Zone -->
            <h4>Or drag and drop files below</h4>
            <div class="upload-drop-zone" id="drop-zone">
                Just drag and drop files here
            </div>
            
        </div>
    </div>
    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Submit</button>
</div> <!-- /container -->
